.Sandbox {
    display: flex;

    width: 720px;
    height: 320px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.SandboxContent {
    /* padding: 16px; */
    position: relative;

    flex: 1 0 auto;
}

.SandboxContentWrapper {
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;

    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.SandboxPanel {

    --button-size-s-height: 28px;
    --button-size-s-lineHeight: 28px;
    --textinput-size-s-height: 28px;
    overflow-y: scroll;
    flex: 0 0 200px;

    box-sizing: border-box;
    padding: 16px;

    border-left: 1px solid #ccc;
}


.Knob {
    margin-bottom: 8px;
}

.KnobLabel {
    display: flex;
    flex-direction: column;

    margin: 9px 0;

    font-family: -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.KnobLabelText {
    margin-bottom: 4px;
}
