.MessageBox-Tail {
    position: absolute;
}

.Popup2[data-popper-placement^='top'] .MessageBox-Tail {
    transform: rotate(180deg);
}

.Popup2[data-popper-placement^='left'] .MessageBox-Tail {
    left: 100%;

    transform: rotate(90deg);
}

.Popup2[data-popper-placement^='bottom'] .MessageBox-Tail {
    bottom: 100%;
}

.Popup2[data-popper-placement^='right'] .MessageBox-Tail {
    right: 100%;

    transform: rotate(-90deg);
}
