.Hermione-Row {
    position: relative;
}

[class*='Hermione-Row_type_directions'] {
    padding: 64px 112px;
}

.Hermione-Anchor {
    display: inline-block;

    padding: 4px 8px;

    user-select: none;

    background-color: #eee;
}

[class*='Hermione-Row_type_directions'] .Hermione-Anchor {
    padding: 32px 112px;
}
