/* common */
.Menu_view_default {
    color: var(--menu-view-default-typo-color-base);
    background-color: var(--menu-view-default-fill-color-base);
}

.Menu_view_default .Menu-Group {
    border-top: 1px solid var(--menu-view-default-border-color-base);
}

.Menu_view_default .Menu-Group:first-child {
    padding-top: 0;

    border-top: none;
}

.Menu_view_default .Menu-Group:last-child {
    padding-bottom: 0;
}

.Menu_view_default .Menu-Title {
    color: var(--menu-view-default-typo-color-secondary);
}

.Menu_view_default .Menu-Item {
    position: relative;

    cursor: pointer;
}

/* stylelint-disable-next-line selector-max-universal */
.Menu_view_default .Menu-Item * {
    /* Обнуляем значения для интерактивных элементов внутри пункта меню. */
    text-decoration: none;

    outline: none;
}

.Menu_view_default .Menu-Item .Icon.Icon_glyph_type-check {
    visibility: hidden;

    width: 16px;
}

/* Усиливаем селектор Menu & Icon, чтобы перебить margin-left при раскрытии css-переменных. */
.Menu.Menu_view_default .Menu-Item .Icon.Icon_glyph_type-check[class] {
    margin-left: 0;
}

/* check */
.Menu.Menu_view_default .Menu-Item.Menu-Item_checked .Icon_glyph_type-check {
    visibility: visible;
}

/* disable */
.Menu_view_default.Menu_disabled .Menu-Item,
.Menu_view_default .Menu-Item.Menu-Item_disabled {
    opacity: .3;
    color: var(--menu-view-default-typo-color-disabled);
}
