.Radiobox {
    display: inline-block;

    font-family: var(--radiobox-font-family);
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Radiobox-Radio_disabled {
    pointer-events: none;
}
