/* The hovered state of a clear Button */
@define-mixin Button_clear-hovered
    /* Sets the view modifier name of a Button */
    $viewName {
    .Button2_view_$(viewName).Button2_hovered .Button2-Text,
    .Button2_view_$(viewName).Button2_hovered .Button2-Icon {
        opacity: 1;
    }
}
