@define-mixin Button_hovered-next
    $viewName,
    $color,
    $fillColor {
    .Button2_view_$(viewName).Button2_hovered {
        color: $color;
    }

    .Button2_view_$(viewName).Button2_hovered::before {
        background-color: $fillColor;
    }
}
