/* hover */
.Textinput_view_default .Textinput-Clear:hover {
    color: var(--color-control-typo-primary);
}

/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Textinput_view_default.Textinput_hovered .Textinput-Box[class] {
    border-color: var(--color-control-bg-border-blank-hover);
    background-color: var(--color-control-bg-blank-hover);
}

.Textinput_view_default.Textinput_hovered.Textinput_state_error .Textinput-Box {
    border-color: var(--color-control-bg-border-default-error-hover);
}
