/**
 * 1. Устраняет проблему с mouseover/mouseout внутри кнопки.
 * 2. В IE9+ с помощью position:relative у <button> лечится супер эффект "нажимания".
 *    Подробнее: http://stackoverflow.com/questions/6744406.
 * 3. Селектор усиливается, чтобы перебить position: relative у icon_type_glyph.
 */
.Button2 .Button2-Icon {
    position: relative; /* 2 */

    pointer-events: none; /* 1 */
}

.Button2 .Button2-Icon_side_left {
    position: absolute;
    top: 0;
    left: 0;
}

.Button2 .Button2-Icon_side_right {
    position: absolute;
    top: 0;
    right: 0;
}
