.Calendar_view_default .Calendar-Cell {
    color: var(--calendar-view-default-cell-typo-color-base);
}

.Calendar_view_default .Calendar-Cell::before {
    border-radius: var(--calendar-view-default-cell-border-radius);
}

.Calendar_view_default .Calendar-Cell:nth-child(n+6) {
    color: var(--calendar-view-default-cell-typo-color-weekend);
}

.Calendar_view_default .Calendar-Cell[aria-disabled=true] {
    color: var(--calendar-view-default-cell-typo-color-disabled);
}

.Calendar_view_default .Calendar-Cell_selected[aria-disabled=true]::before {
    background-color: var(--calendar-view-default-cell-fill-color-selected-disabled);
}

.Calendar_view_default .Calendar-Cell_current::before {
    box-shadow: inset 0 0 0 1px var(--calendar-view-default-cell-border-color-current);
}

.Calendar_view_default .Calendar-Cell:hover::before {
    background-color: var(--calendar-view-default-cell-fill-color-hovered);
}

.Calendar_view_default .Calendar-Cell:active::before {
    background-color: var(--calendar-view-default-cell-fill-color-pressed);
}

.utilityfocus .Calendar_view_default .Calendar-Cell:focus::before {
    box-shadow: inset 0 0 0 2px var(--calendar-view-default-cell-border-color-focused);
}

.Calendar_view_default .Calendar-Cell_today:hover::before,
.Calendar_view_default .Calendar-Cell_selected::before {
    box-shadow: none;
}

/* NOTE: Усиливаем селектор для выходных дней */
.Calendar_view_default .Calendar-Cell_selected[class] {
    color: var(--calendar-view-default-cell-typo-color-selected-base);
}

.Calendar_view_default .Calendar-Cell_selected::before {
    background-color: var(--calendar-view-default-cell-fill-color-selected-base);
}

.Calendar_view_default .Calendar-Cell_selected:hover::before {
    background-color: var(--calendar-view-default-cell-fill-color-selected-hovered);
}

.Calendar_view_default .Calendar-Cell_rangeSelected::after {
    background-color: var(--calendar-view-default-cell-fill-color-selected-range);
}

.Calendar_view_default .Calendar-Cell_rangePreview::after {
    border-width: var(--calendar-view-default-cell-border-width) 0;
    border-style: dashed;
    border-color: var(--calendar-view-default-cell-border-color-hovered);
}

.Calendar_view_default .Calendar-Cell_selectionStart::after,
.Calendar_view_default .Calendar-Cell_rangePreviewStart::after {
    border-left-width: var(--calendar-view-default-cell-border-width);
    border-top-left-radius: var(--calendar-view-default-cell-border-radius);
    border-bottom-left-radius: var(--calendar-view-default-cell-border-radius);
}

.Calendar_view_default .Calendar-Cell_selectionEnd::after,
.Calendar_view_default .Calendar-Cell_rangePreviewEnd::after {
    border-right-width: var(--calendar-view-default-cell-border-width);
    border-top-right-radius: var(--calendar-view-default-cell-border-radius);
    border-bottom-right-radius: var(--calendar-view-default-cell-border-radius);
}

.Calendar_view_default .Calendar-GridAside {
    border-radius: var(--calendar-view-default-grid-aside-border-radius);
    background-color: var(--calendar-view-default-grid-aside-fill-color-base);
}

.Calendar_view_default .Calendar-GridAside .Calendar-Cell {
    color: var(--calendar-view-default-grid-aside-typo-color-base);
}

.Calendar_view_default .Calendar-Cell_current .Calendar-Current {
    border-bottom: 1px solid var(--calendar-view-default-current-border-color);
}

.Calendar_view_default .Calendar-Cell_selected.Calendar-Cell_current .Calendar-Current {
    border-color: currentColor;
}
