.RadioButton_view_default {
    color: var(--color-control-typo-secondary);
    border-radius: var(--radioButton-borderRadius);
    background-color: var(--color-control-bg-default);
}

.RadioButton_view_default .RadioButton-Radio_checked {
    color: var(--color-control-typo-primary);
}

.RadioButton_view_default .RadioButton-Plate {
    transition: left .2s, width .2s;
}

.RadioButton_view_default .RadioButton-Plate::before,
.RadioButton_view_default .RadioButton-Radio::before {
    position: absolute;
    top: var(--radioButton-indent);
    right: var(--radioButton-indent);
    bottom: var(--radioButton-indent);
    left: var(--radioButton-indent);

    pointer-events: none;

    border-radius: var(--radioButton-after-borderRadius);
}

.RadioButton_view_default .RadioButton-Plate::before,
.RadioButton_view_default .RadioButton-Plate[hidden] ~ .RadioButton-Radio_checked::before {
    content: '';

    background-color: var(--color-control-bg-passive);
}
