{
  "extends": "./node_modules/@yandex-int/lint/stylelintrc.js",
  "rules": {
    "number-leading-zero": null,
    "max-line-length": null,
    "max-empty-lines": 2,
    "font-weight-notation": "numeric",
    "number-max-precision": [
        3,
        {
            "ignoreUnits": ["rem", "em"]
        }
    ]
  },
  "ignoreFiles": [
    "**/*.tsx",
    "./src/Theme/presets/**/*.css"
  ]
}
