.Theme_space_turbo {
    --attach-reset-indentLeft: 5px;
    --attach-iconFile-indentRight: 5px;
    --attach-size-s-holder-indentLeft: 6px;
    --attach-size-m-holder-indentLeft: 8px;
    --attach-size-l-holder-indentLeft: 10px;
    --button-size-s-icon-indentLeft: 25px;
    --button-size-s-icon-indentRight: 25px;
    --button-size-s-text-indentAll: 0 13px;
    --button-size-m-icon-indentLeft: 29px;
    --button-size-m-icon-indentRight: 29px;
    --button-size-m-text-indentAll: 0 15px;
    --button-size-l-icon-indentLeft: 35px;
    --button-size-l-icon-indentRight: 35px;
    --button-size-l-text-indentAll: 0 18px;
    --checkbox-size-s-indentLeft: 5px;
    --checkbox-size-m-indentLeft: 5px;
    --divider-indent-all: 16px;
    --menu-size-s-spaceVert: 4px;
    --menu-size-s-group-spaceVert: 4px;
    --menu-size-s-group-spaceHor: 0;
    --menu-size-s-group-indentBottom: 4px;
    --menu-size-s-item-spaceVert: 3px;
    --menu-size-s-item-spaceHor: 9px;
    --menu-size-s-item-indentBottom: 4px;
    --menu-size-s-item-icon-indentRight: 4px;
    --menu-size-s-titleSibling-indentLeft: 20px;
    --menu-size-m-spaceVert: 5px;
    --menu-size-m-group-spaceVert: 5px;
    --menu-size-m-group-spaceHor: 0;
    --menu-size-m-group-indentBottom: 5px;
    --menu-size-m-item-spaceVert: 4px;
    --menu-size-m-item-spaceHor: 15px;
    --menu-size-m-item-indentBottom: 5px;
    --menu-size-m-item-icon-indentRight: 6px;
    --menu-size-m-titleSibling-indentLeft: 20px;
    --radioButton-indent: 3px;
    --radioButton-size-s-space: 0 13px;
    --radioButton-size-m-space: 0 15px;
    --radioButton-size-l-space: 0 18px;
    --radiobox-size-s-positionTop: 2px;
    --radiobox-size-s-indentRight: 5px;
    --radiobox-size-m-positionTop: 3px;
    --radiobox-size-m-indentRight: 6px;
    --textarea-size-s-spaceAll: 6px;
    --textarea-size-m-spaceAll: 8px;
    --textinput-size-s-control-spaceAll: 0 8px;
    --textinput-size-s-has-icon-spaceRight: 32px;
    --textinput-size-s-has-icon-spaceLeft: 32px;
    --textinput-size-m-control-spaceAll: 0 10px;
    --textinput-size-m-has-icon-spaceRight: 36px;
    --textinput-size-m-has-icon-spaceLeft: 36px;
    --tooltip-size-s-content-spaceAll: 8px;
    --tooltip-size-m-content-spaceAll: 9px 10px;
    --tooltip-size-l-content-spaceAll: 18px;
    --tumbler-button-space: 2px;
    --tumblerLabel-size-s-indentRight: 8px;
    --tumblerLabel-size-s-indentLeft: 8px;
    --tumblerLabel-size-m-indentRight: 12px;
    --tumblerLabel-size-m-indentLeft: 12px;
    --tumblerLabel-size-l-indentRight: 16px;
    --tumblerLabel-size-l-indentLeft: 16px;
    --message-box-content-spaceAll: 20px;
    --message-box-close-indentRight: 7px;
    --message-box-text-indentLeft: 20px;
    --message-box-text-indentRight: 20px;
    --message-box-size-s-content-spaceAll: 5px 10px;
    --message-box-size-m-content-spaceAll: 10px 14px;
    --message-box-size-l-content-spaceAll: 15px 20px;
}
