.Popup2-Tail {
    width: 24px;
    height: 24px;
}

.Popup2-TailSvg {
    display: block;
}

.Popup2[data-popper-placement^='top'] .Popup2-Tail {
    top: 100%;

    transform: rotate(180deg);
}

.Popup2[data-popper-placement^='left'] .Popup2-Tail {
    left: 100%;

    transform: rotate(90deg);
}

.Popup2[data-popper-placement^='bottom'] .Popup2-Tail {
    bottom: 100%;
}

.Popup2[data-popper-placement^='right'] .Popup2-Tail {
    right: 100%;

    transform: rotate(-90deg);
}
