.Theme_root_legacy {
    --space-3-xs: 2px;
    --space-2-xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-2-xl: 32px;
    --space-3-xl: 40px;
    --space-4-xl: 48px;
    --space-5-xl: 72px;
    --space-6-xl: 96px;
    --typography-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-font-weight-light: 300;
    --typography-font-weight-regular: 400;
    --typography-font-weight-medium: 500;
    --typography-font-weight-bold: 700;
    --control-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-controls-size-s-font-size: 13px;
    --typography-controls-size-m-font-size: 15px;
    --typography-controls-size-l-font-size: 18px;
    --attach-font-family: var(--control-font-family);
    --attach-reset-width: 12px;
    --attach-reset-height: 12px;
    --attach-reset-indentLeft: 5px;
    --attach-iconFile-indentRight: 5px;
    --attach-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --attach-size-s-lineHeight: 32px;
    --attach-size-s-holder-indentLeft: 6px;
    --attach-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --attach-size-m-lineHeight: 36px;
    --attach-size-m-holder-indentLeft: 8px;
    --attach-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --attach-size-l-lineHeight: 42px;
    --attach-size-l-holder-indentLeft: 10px;
    --badge-font-family: var(--control-font-family);
    --badge-size-small: 10px;
    --badge-size-large: 16px;
    --badge-font-size: 12px;
    --badge-border-radius: 8px;
    --badge-border-width: 2px;
    --button-font-family: var(--control-font-family);
    --button-border-width: 1px;
    --button-borderRadius: 4px; /* Радиус внутреннего блока */
    --button-size-s-font: var(--typography-controls-size-s-font-size); /* Размер текста у s-button */
    --button-size-s-lineHeight: 28px; /* Межстрочный интервал текста у s-button */
    --button-size-s-height: 28px; /* Высота у s-button */
    --button-size-s-icon-width: 28px; /* Ширина иконки у s-button */
    --button-size-s-icon-indentLeft: 25px; /* Размер внешнего левого отступа текста от иконки у s-button */
    --button-size-s-icon-indentRight: 25px; /* Размер внешнего правого отступа текста от иконки у s-button */
    --button-size-s-text-indentAll: 0 13px; /* Размер внешнего отступа у s-button */
    --button-size-m-font: var(--typography-controls-size-m-font-size); /* Размер текста у m-button */
    --button-size-m-lineHeight: 32px; /* Межстрочный интервал текста у m-button */
    --button-size-m-height: 32px; /* Высота у m-button */
    --button-size-m-icon-width: 32px; /* Ширина иконки у m-button */
    --button-size-m-icon-indentLeft: 29px; /* Размер внешнего левого отступа текста от иконки у m-button */
    --button-size-m-icon-indentRight: 29px; /* Размер внешнего правого отступа текста от иконки у m-button */
    --button-size-m-text-indentAll: 0 15px; /* Размер внешнего отступа у m-button */
    --button-size-l-font: var(--typography-controls-size-l-font-size); /* Размер текста у l-button */
    --button-size-l-lineHeight: 38px; /* Межстрочный интервал текста у l-button */
    --button-size-l-height: 38px; /* Высота у l-button */
    --button-size-l-icon-width: 38px; /* Ширина иконки у l-button */
    --button-size-l-icon-indentLeft: 35px; /* Размер внешнего левого отступа текста от иконки у l-button */
    --button-size-l-icon-indentRight: 35px; /* Размер внешнего правого отступа текста от иконки у l-button */
    --button-size-l-text-indentAll: 0 18px; /* Размер внешнего отступа у l-button */
    --button-group-gap-s: 1px; /* Растояние s между кнопками */
    --button-group-gap-m: 4px; /* Растояние m между кнопками */
    --button-group-gap-l: 6px; /* Растояние l между кнопками */
    --button-group-gap-xl: 8px; /* Растояние xl между кнопками */
    --button-group-pin-circle-border-radius: 100px; /* Радиус у кнопок с формой circle */
    --button-group-pin-round-border-radius: var(--button-borderRadius); /* Радиус у кнопок с формой round */
    --checkbox-view-outline-disabled-opacity: 0.4;
    --checkbox-font-family: var(--control-font-family);
    --checkbox-borderRadius: 4px;
    --checkbox-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-checkbox */
    --checkbox-size-s-indentLeft: 5px; /* Размер внешнего левого отступа у s-checkbox (от текста) */
    --checkbox-size-s-width: 14px; /* Ширина у s-checkbox */
    --checkbox-size-s-height: 14px; /* Высота у s-checkbox */
    --checkbox-size-s-tick-width: 12px;
    --checkbox-size-s-tick-height: 8px;
    --checkbox-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m-checkbox */
    --checkbox-size-m-indentLeft: 5px; /* Размер внешнего левого отступа у m-checkbox (от текста) */
    --checkbox-size-m-width: 17px; /* Ширина у m-checkbox */
    --checkbox-size-m-height: 17px; /* Высота у m-checkbox */
    --checkbox-size-m-tick-width: 13px;
    --checkbox-size-m-tick-height: 10px;
    --checkbox-disabled-opacity: 0.6;
    --divider-indent-all: 16px;
    --header-font-family: 'YS Text', arial, sans-serif; /* Шрифт шапки */
    --header-shadow: none; /* Тень шапки */
    --header-space-all: 0 20px; /* Внутренние отступы шапки */
    --header-z-index: auto; /* Расположение шапки по оси Z */
    --header-content-height: 60px; /* Высота шапки */
    --header-content-width: auto; /* Ширина шапки */
    --header-content-indent-right: auto; /* Внешний отступ контента от блока с действиями. По умолчанию контент расположен рядом с логотипом. */
    --header-content-max-width: 1400px; /* Максимальная ширина шапки */
    --header-content-space-all: 0; /* Внутренние отступы контента шапки (область между Логотипом и блоком с действиями) */
    --header-logo-height: 32px; /* Высота логотипов */
    --header-logo-indent-right: 29px; /* Внешний отступ справа от основного логотипа */
    --header-logo-circle-indent-top: -3px; /* Внешний отступ сверху круглого логотипа */
    --header-logoaas-height: 32px; /* Высота Logoaas логотипа */
    --header-logoaas-indent: -5px auto 5px auto; /* Внешние отступы изображения внутри Logoaas */
    --header-icon-width: 20px; /* Ширина иконки */
    --header-icon-height: 20px; /* Высота иконки */
    --header-icon-indent-right: 8px; /* Внешний отступ справа от иконки */
    --header-actions-gap: 14px; /* Расстояние между action блоками */
    --header-actions-space-left: 24px; /* Внутренний отступ справа в блоке с действиями */
    --header-nav-indent: 0; /* Внешние отступы в навигационных табах */
    --header-nav-space-all: 0; /* Внутренние отступы в навигационных табах */
    --header-nav-link-font-size: 16px; /* Размер шрифта в навигационных табах */
    --header-nav-link-font-weight: 500; /* Насыщенность шрифта в навигационных табах */
    --header-nav-link-line-height: 21px; /* Межстрочный интервал в навигационных табах */
    --header-nav-link-space-all: 8px 2px; /* Внутренний отступ навигационного таба */
    --header-nav-link-border: 2px solid transparent; /* Граница навигационного таба */
    --header-nav-link-gap: 12px; /* Отступ между навигационными табами */
    --header-search-font-family: Arial, sans-serif; /* Шрифт Button_view_search-arrow */
    --header-search-min-width: 220px; /* Минимальная ширина поисковой формы */
    --header-search-max-width: 470px; /* Максимальная ширина поисковой формы */
    --header-search-width: 470px; /* Ширина поисковой формы */
    --header-search-indent-left: 29px; /* Внешний отступ слева поисковой формы */
    --header-search-button-font-size: 16px; /* Размер шрифта Button_view_search-arrow */
    --header-search-button-line-height: 36px; /* Межстрочный интервал Button_view_search-arrow */
    --header-search-button-width: 88px; /* Ширина Button_view_search-arrow */
    --header-search-button-indent-right: 9px; /* Внешний отступ справа у элемента Text внутри Button_view_search-arrow */
    --header-search-button-space-left: 5px; /* Внутренний отступ слева у элемента Text внутри Button_view_search-arrow */
    --header-search-button-before-border-width: 22px 0 22px 11px; /* Ширина границы :before Button_view_search-arrow */
    --header-search-button-before-top: -4px; /* Значение top :before Button_view_search-arrow */
    --header-search-button-before-right: -9px; /* Значение right :before Button_view_search-arrow */
    --header-search-textinput-height: 36px; /* Высота Texinput_view_search-arrow */
    --header-search-textinput-border-radius: 4px; /* Радиус скругления Texinput_view_search-arrow */
    --header-search-textinput-control-font-size: 18px; /* Размер шрифта Textinput_view_search-arrow Textinput-Control */
    --header-search-textinput-control-border-width: 0 30px 0 13px; /* Ширина границы Textinput_view_search-arrow Textinput-Control */
    --header-search-textinput-box-border-width: 2px 0 2px 2px; /* Ширина границы Textinput_view_search-arrow Texinput-Box */
    --menu-font-family: var(--control-font-family);
    --menu-group-borderWidth: 1px; /* Бордер у menu-group меню */
    --menu-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-menu */
    --menu-size-s-lineHeight: 24px; /* Межстрочный интервал s-menu у s-menu */
    --menu-size-s-spaceVert: 4px; /* Размер вертикального внутреннего отступа у s-menu */
    --menu-size-s-group-spaceVert: 4px; /* Размер вертикального внутреннего отступа от группе у s-menu */
    --menu-size-s-group-spaceHor: 0; /* Размер горизонтального внутреннего отступа от группе у s-menu */
    --menu-size-s-group-indentBottom: 4px; /* Размер нижнего внешнего отступа от группы до пунктов у s-menu */
    --menu-size-s-item-spaceVert: 3px; /* Размер вертикального внутреннего отступа в пункте у s-menu */
    --menu-size-s-item-spaceHor: 9px; /* Размер горизонтального внутреннего отступа в пункте у s-menu */
    --menu-size-s-item-indentBottom: 4px; /* Размер правого внешнего отступа от иконки до текста у s-menu */
    --menu-size-s-item-space-hor: 13px;
    --menu-size-s-item-icon-indentRight: 5px;
    --menu-size-s-titleSibling-indentLeft: 20px; /* Размер внешнего левого отступа у сущностей после тайтла у s-menu */
    --menu-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m-menu */
    --menu-size-m-lineHeight: 28px; /* Межстрочный интервал у m-menu */
    --menu-size-m-spaceVert: 5px; /* Размер вертикального внутреннего отступа у m-menu */
    --menu-size-m-group-spaceVert: 5px; /*  Размер вертикального внутреннего отступа в группе у m-menu */
    --menu-size-m-group-spaceHor: 0; /* Размер горизонтального внутреннего отступа в группе у m-menu */
    --menu-size-m-group-indentBottom: 5px; /* Размер нижнего внешнего отступа от группы до пунктов у m-menu */
    --menu-size-m-item-spaceVert: 4px; /* Размер вертикального внутреннего отступа в пункте у m-menu */
    --menu-size-m-item-spaceHor: 15px; /* Размер горизонтального внутреннего отступа в пункте у m-menu */
    --menu-size-m-item-indentBottom: 5px; /* Размер нижнего внешнего отступа от пунктов до группы у m-menu */
    --menu-size-m-item-icon-indentRight: 5px;
    --menu-size-m-titleSibling-indentLeft: 20px; /* Размер внешнего левого отступа у сущностей после тайтла у m-menu */
    --message-box-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-font-family: var(--control-font-family);
    --message-box-lineHeight: 16px;
    --message-box-hint-borderRadius: 4px;
    --message-box-close-lineHeight: 16px;
    --message-box-close-fontSize: 11px;
    --message-box-close-indentRight: 7px;
    --message-box-close-width: 16px;
    --message-box-close-height: 16px;
    --message-box-text-indentLeft: 20px;
    --message-box-text-indentRight: 20px;
    --message-box-content-spaceAll: 20px;
    --message-box-content-max-width: 180px;
    --message-box-size-s-tail-size: 22px; /* Размер хвоста у message-box */
    --message-box-size-s-tooltip-fontSize: 11px;
    --message-box-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-s-border-radius: 7px;
    --message-box-size-s-content-maxWidth: 260px;
    --message-box-size-s-content-spaceAll: 5px 10px;
    --message-box-size-s-content-functional-width: 180px;
    --message-box-size-m-tail-size: 22px; /* Размер хвоста у message-box */
    --message-box-size-m-tooltip-fontSize: 11px;
    --message-box-size-m-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-m-border-radius: 7px;
    --message-box-size-m-content-spaceAll: 10px 14px;
    --message-box-size-m-content-minWidth: 200px;
    --message-box-size-m-content-maxWidth: 280px;
    --message-box-size-m-content-tooltip-maxWidth: 320px;
    --message-box-size-m-content-functional-width: 280px;
    --message-box-size-l-tail-size: 22px; /* Размер хвоста у message-box */
    --message-box-size-l-functional-fontSize: 14px;
    --message-box-size-l-functional-lineHeight: 18px;
    --message-box-size-l-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-l-border-radius: 7px;
    --message-box-size-l-content-spaceAll: 15px 20px;
    --message-box-size-l-content-minWidth: 300px;
    --message-box-size-l-content-maxWidth: 380px;
    --message-box-size-l-content-width: 380px;
    --message-box-size-l-content-functional-width: 380px;
    --message-box-button-indentRight: 0;
    --message-box-buttons-indentAll: 0;
    --message-box-view-default-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-view-promo-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-view-inverse-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --modal-border-radius: 0;
    --popup-borderRadius: 4px;
    --progressbar-height: 2px; /* Высота у progressbar */
    --progress-border-radius: 0;
    --radio-button-font-family: var(--control-font-family);
    --radioButton-indent: 3px;
    --radioButton-borderRadius: 4px;
    --radioButton-after-borderRadius: 2px;
    --radioButton-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --radioButton-size-s-lineHeight: 28px;
    --radioButton-size-s-space: 0 13px;
    --radioButton-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --radioButton-size-m-lineHeight: 32px;
    --radioButton-size-m-space: 0 15px;
    --radioButton-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --radioButton-size-l-lineHeight: 38px;
    --radioButton-size-l-space: 0 18px;
    --radiobox-font-family: var(--control-font-family);
    --radiobox-view-outline-disabled-opacity: 0.4;
    --radiobox-borderRadius: 50%; /* Скругление внешних краев у radioBox */
    --radiobox-after-borderRadius: 50%; /* Скругление внутренних краев у radioBox */
    --radiobox-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-radio */
    --radiobox-size-s-lineHeight: 28px; /* Межстрочный интервал текста у s-radio */
    --radiobox-size-s-size: 13px; /* Размер бокса у s-radio */
    --radiobox-size-s-positionTop: 2px; /* Верхний отступ у s-radio */
    --radiobox-size-s-indentRight: 5px; /* Размер внешнего правого отступа у s-radio (от текста)  */
    --radiobox-size-s-after-size: 5px;
    --radiobox-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m-radio */
    --radiobox-size-m-lineHeight: 32px; /* Межстрочный интервал текста у m-radio */
    --radiobox-size-m-size: 17px; /* Размер бокса у m-radio */
    --radiobox-size-m-positionTop: 3px; /* Верхний отступ у m-radio */
    --radiobox-size-m-indentRight: 6px; /* Размер внешнего правого отступа у m-radio (от текста)  */
    --radiobox-size-m-after-size: 7px;
    --radiobox-disabled-opacity: 0.6;
    --slider-font-family: var(--control-font-family); /* Шрифт слайдера */
    --slider-view-default-height: 32px; /* Высота слайдера, без учета подписей */
    --slider-view-default-track-border-radius: 2px; /* Внешний радиус скругления трека */
    --slider-view-default-track-height: 2px; /* Высота трека */
    --slider-view-default-thumb-width: 16px; /* Ширина бегунка */
    --slider-view-default-thumb-height: 16px; /* Высота бегунка */
    --slider-view-default-thumb-border-radius: 50%; /* Внешний радиус скругления бегунка */
    --slider-view-default-tick-width: 2px; /* Ширина метки */
    --slider-view-default-tick-height: 2px; /* Высота метки */
    --slider-view-default-tick-label-font-size: 13px; /* Размер шрифта подписи метки */
    --slider-view-default-tick-label-line-height: 16px; /* Высота шрифта подписи метки */
    --spin-size-xxs: 16px;
    --spin-size-xs: 24px;
    --spin-size-s: 28px;
    --spin-size-m: 32px;
    --spin-size-l: 38px;
    --tabs-menu-font-family: var(--control-font-family);
    --tabsMenu-size-s-font: var(--typography-controls-size-s-font-size);
    --tabsMenu-size-s-lineHeight: 28px;
    --tabsMenu-size-m-font: var(--typography-controls-size-m-font-size);
    --tabsMenu-size-m-lineHeight: 36px;
    --text-display-size-xl-font-size: 3.5rem;
    --text-display-size-xl-line-height: 4rem;
    --text-display-size-xl-letter-spacing: normal;
    --text-display-size-xl-font-family: var(--typography-font-family);
    --text-display-size-l-font-size: 3rem;
    --text-display-size-l-line-height: 3.5rem;
    --text-display-size-l-letter-spacing: 0.0065em;
    --text-display-size-l-font-family: var(--typography-font-family);
    --text-display-size-m-font-size: 2.5rem;
    --text-display-size-m-line-height: 3rem;
    --text-display-size-m-letter-spacing: 0.0065em;
    --text-display-size-m-font-family: var(--typography-font-family);
    --text-display-size-s-font-size: 2.125rem;
    --text-display-size-s-line-height: 2.5rem;
    --text-display-size-s-letter-spacing: 0.0065em;
    --text-display-size-s-font-family: var(--typography-font-family);
    --text-headline-size-xl-font-size: 2rem;
    --text-headline-size-xl-line-height: 2.5rem;
    --text-headline-size-xl-letter-spacing: 0.0065em;
    --text-headline-size-xl-font-family: var(--typography-font-family);
    --text-headline-size-l-font-size: 1.75rem;
    --text-headline-size-l-line-height: 2.25rem;
    --text-headline-size-l-letter-spacing: 0.0065em;
    --text-headline-size-l-font-family: var(--typography-font-family);
    --text-headline-size-m-font-size: 1.5rem;
    --text-headline-size-m-line-height: 1.875rem;
    --text-headline-size-m-letter-spacing: 0.0065em;
    --text-headline-size-m-font-family: var(--typography-font-family);
    --text-headline-size-s-font-size: 1.25rem;
    --text-headline-size-s-line-height: 1.5rem;
    --text-headline-size-s-letter-spacing: 0.0065em;
    --text-headline-size-s-font-family: var(--typography-font-family);
    --text-headline-size-xs-font-size: 1.125rem;
    --text-headline-size-xs-line-height: 1.5rem;
    --text-headline-size-xs-letter-spacing: 0.0065em;
    --text-headline-size-xs-font-family: var(--typography-font-family);
    --text-subheader-size-xl-font-size: 1rem;
    --text-subheader-size-xl-line-height: 1.25rem;
    --text-subheader-size-xl-letter-spacing: 0.0065em;
    --text-subheader-size-xl-font-family: var(--typography-font-family);
    --text-subheader-size-l-font-size: 0.9375rem;
    --text-subheader-size-l-line-height: 1.125rem;
    --text-subheader-size-l-letter-spacing: 0.0065em;
    --text-subheader-size-l-font-family: var(--typography-font-family);
    --text-subheader-size-m-font-size: 0.875rem;
    --text-subheader-size-m-line-height: 1.125rem;
    --text-subheader-size-m-letter-spacing: 0.0065em;
    --text-subheader-size-m-font-family: var(--typography-font-family);
    --text-subheader-size-s-font-size: 0.8125rem;
    --text-subheader-size-s-line-height: 1.125rem;
    --text-subheader-size-s-letter-spacing: 0.0065em;
    --text-subheader-size-s-font-family: var(--typography-font-family);
    --text-body-long-size-xl-font-size: 1rem;
    --text-body-long-size-xl-line-height: 1.5rem;
    --text-body-long-size-xl-letter-spacing: 0.0065em;
    --text-body-long-size-xl-font-family: var(--typography-font-family);
    --text-body-long-size-l-font-size: 0.9375rem;
    --text-body-long-size-l-line-height: 1.25rem;
    --text-body-long-size-l-letter-spacing: 0.0065em;
    --text-body-long-size-l-font-family: var(--typography-font-family);
    --text-body-long-size-m-font-size: 0.875rem;
    --text-body-long-size-m-line-height: 1.25rem;
    --text-body-long-size-m-letter-spacing: 0.0065em;
    --text-body-long-size-m-font-family: var(--typography-font-family);
    --text-body-long-size-s-font-size: 0.8125rem;
    --text-body-long-size-s-line-height: 1.125rem;
    --text-body-long-size-s-letter-spacing: 0.0065em;
    --text-body-long-size-s-font-family: var(--typography-font-family);
    --text-body-short-size-xl-font-size: 1rem;
    --text-body-short-size-xl-line-height: 1.25rem;
    --text-body-short-size-xl-letter-spacing: 0.0065em;
    --text-body-short-size-xl-font-family: var(--typography-font-family);
    --text-body-short-size-l-font-size: 0.9375rem;
    --text-body-short-size-l-line-height: 1.125rem;
    --text-body-short-size-l-letter-spacing: 0.0065em;
    --text-body-short-size-l-font-family: var(--typography-font-family);
    --text-body-short-size-m-font-size: 0.875rem;
    --text-body-short-size-m-line-height: 1.125rem;
    --text-body-short-size-m-letter-spacing: 0.0065em;
    --text-body-short-size-m-font-family: var(--typography-font-family);
    --text-body-short-size-s-font-size: 0.8125rem;
    --text-body-short-size-s-line-height: 1rem;
    --text-body-short-size-s-letter-spacing: 0.0065em;
    --text-body-short-size-s-font-family: var(--typography-font-family);
    --text-caption-size-xl-font-size: 0.8125rem;
    --text-caption-size-xl-line-height: 1rem;
    --text-caption-size-xl-letter-spacing: 0.0065em;
    --text-caption-size-xl-font-family: var(--typography-font-family);
    --text-caption-size-l-font-size: 0.75rem;
    --text-caption-size-l-line-height: 1rem;
    --text-caption-size-l-letter-spacing: 0.0065em;
    --text-caption-size-l-font-family: var(--typography-font-family);
    --text-caption-size-m-font-size: 0.6875rem;
    --text-caption-size-m-line-height: 1rem;
    --text-caption-size-m-letter-spacing: 0.0065em;
    --text-caption-size-m-font-family: var(--typography-font-family);
    --text-overline-size-l-font-size: 0.75rem;
    --text-overline-size-l-line-height: 0.875rem;
    --text-overline-size-l-letter-spacing: 0.0065em;
    --text-overline-size-l-font-family: var(--typography-font-family);
    --text-overline-size-m-font-size: 0.6875rem;
    --text-overline-size-m-line-height: 0.875rem;
    --text-overline-size-m-letter-spacing: 0.0065em;
    --text-overline-size-m-font-family: var(--typography-font-family);
    --text-overline-size-s-font-size: 0.625rem;
    --text-overline-size-s-line-height: 0.75rem;
    --text-overline-size-s-letter-spacing: 0.0065em;
    --text-overline-size-s-font-family: var(--typography-font-family);
    --text-control-size-xxl-font-size: 1.125rem;
    --text-control-size-xxl-line-height: 1.5rem;
    --text-control-size-xxl-letter-spacing: 0.0065em;
    --text-control-size-xxl-font-family: var(--typography-font-family);
    --text-control-size-xl-font-size: 1rem;
    --text-control-size-xl-line-height: 1.25rem;
    --text-control-size-xl-letter-spacing: 0.0065em;
    --text-control-size-xl-font-family: var(--typography-font-family);
    --text-control-size-l-font-size: 0.9375rem;
    --text-control-size-l-line-height: 1.25rem;
    --text-control-size-l-letter-spacing: 0.0065em;
    --text-control-size-l-font-family: var(--typography-font-family);
    --text-control-size-m-font-size: 0.875rem;
    --text-control-size-m-line-height: 1rem;
    --text-control-size-m-letter-spacing: 0.0065em;
    --text-control-size-m-font-family: var(--typography-font-family);
    --text-control-size-s-font-size: 0.8125rem;
    --text-control-size-s-line-height: 1rem;
    --text-control-size-s-letter-spacing: 0.0065em;
    --text-control-size-s-font-family: var(--typography-font-family);
    --text-control-size-xs-font-size: 0.75rem;
    --text-control-size-xs-line-height: 1rem;
    --text-control-size-xs-letter-spacing: 0.0065em;
    --text-control-size-xs-font-family: var(--typography-font-family);
    --text-control-size-xxs-font-size: 0.6875rem;
    --text-control-size-xxs-line-height: 1rem;
    --text-control-size-xxs-letter-spacing: 0.0065em;
    --text-control-size-xxs-font-family: var(--typography-font-family);
    --textarea-font-family: var(--control-font-family);
    --textarea-borderWidth: 2px;
    --textarea-borderRadius: 4px; /* Ширина бордера у textarea */
    --textarea-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-textarea */
    --textarea-size-s-spaceAll: 6px; /* Внутренние отступы у s-textarea  */
    --textarea-size-s-minWidth: 180px; /* Размер минимальной ширины у s-textarea */
    --textarea-size-s-minHeight: 28px; /* Размер минимальной высоты у s-textarea */
    --textarea-size-s-clear-width: 28px; /* Ширина очищающего контрола у s-textarea */
    --textarea-size-s-clear-height: 28px; /* Высота очищающего контрола у s-textarea */
    --textarea-hint-size-s-fontSize: 12px;
    --textarea-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m textarea */
    --textarea-size-m-spaceAll: 8px; /* Внутренние отступы m-textarea */
    --textarea-size-m-minWidth: 200px; /* Размер минимальной ширины у m-textarea */
    --textarea-size-m-minHeight: 32px; /* Размер минимальной высоты у m-textarea */
    --textarea-size-m-clear-width: 32px; /* Ширина очищающего контрола у m-textarea */
    --textarea-size-m-clear-height: 32px; /* Высота очищающего контрола у m-textarea */
    --textarea-hint-size-m-fontSize: 13px;
    --textinput-font-family: var(--control-font-family);
    --textinput-borderWidth: 2px;
    --textinput-borderRadius: 4px;
    --textinput-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-textinput */
    --textinput-size-s-height: 28px; /* Высота самого s-textinput */
    --textinput-size-s-control-spaceAll: 0 8px; /* Размер внутреннего отступа самого s-textinput  */
    --textinput-size-s-has-icon-spaceRight: 22px; /* Размер внутреннего правого отступа под размер иконки или крестика у s-textinput */
    --textinput-size-s-has-icon-spaceLeft: 22px; /* Размер внутреннего левого отступа под размер иконки или крестика у s-textinput */
    --textinput-size-s-icon-width: 28px;
    --textinput-size-s-icon-height: 28px;
    --textinput-hint-size-s-fontSize: 12px;
    --textinput-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m-textinput */
    --textinput-size-m-height: 32px; /* Высота самого m-textinput */
    --textinput-size-m-control-spaceAll: 0 10px; /* `--textinput-size-m-control-spaceAll` *— Размер внутреннего отступа самого m-textinput* */
    --textinput-size-m-has-icon-spaceRight: 24px; /* Размер внутреннего правого отступа под размер иконки или крестика у m-textinput */
    --textinput-size-m-has-icon-spaceLeft: 24px; /* Размер внутреннего правого отступа правого отступа под размер иконки или крестика у m-textinput */
    --textinput-size-m-icon-width: 32px;
    --textinput-size-m-icon-height: 32px;
    --textinput-hint-size-m-fontSize: 13px;
    --textinput-view-material-font-size: 1rem;
    --textinput-view-material-space-all: 12px 0 10px;
    --textinput-view-material-space-left: 16px;
    --textinput-view-material-space-right: 16px;
    --textinput-view-material-space-top: 16px;
    --textinput-view-material-icon-width: 24px;
    --textinput-view-material-icon-height: 24px;
    --textinput-view-material-hint-font-size: 0.75rem;
    --tooltip-font-family: var(--control-font-family);
    --tooltip-borderRadius: 4px;
    --tooltip-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста у s-tooltip */
    --tooltip-size-s-lineHeight: 12px; /* Межстрочный интервал текста у s-tooltip */
    --tooltip-size-s-content-spaceAll: 8px; /* Размер внутренних отступов у контента s-tooltip */
    --tooltip-size-s-tail-size: 12px; /* Размер хвоста s-tooltip */
    --tooltip-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста у m-tooltip */
    --tooltip-size-m-lineHeight: 14px; /* Межстрочный интервал текста у m-tooltip */
    --tooltip-size-m-content-spaceAll: 9px 10px; /* Размер внутренних отступов у контента m-tooltip */
    --tooltip-size-m-tail-size: 24px; /* Размер хвоста m-tooltip */
    --tooltip-size-l-fontSize: 16px; /* Размер текста у l-tooltip */
    --tooltip-size-l-lineHeight: 16px; /* Межстрочный интервал текста у l-tooltip */
    --tooltip-size-l-content-spaceAll: 18px; /* Размер внутренних отступов у контента l-tooltip */
    --tooltip-size-l-tail-size: 36px; /* Размер хвоста l-tooltip */
    --tooltip-view-default-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    --tumbler-font-family: var(--control-font-family);
    --tumbler-button-space: 2px;
    --tumbler-button-opacity-disabled: 1;
    --tumbler-size-s-fontSize: var(--typography-controls-size-s-font-size); /* Размер текста s-tumbler */
    --tumbler-size-s-lineHeight: 16px; /* Межстрочный интервал текста у s-tumbler */
    --tumbler-size-s-borderRadius: 8px;
    --tumbler-size-s-width: 32px; /* Ширина s-tumbler */
    --tumbler-size-s-height: 16px; /* Высота s-tumbler */
    --tumbler-size-s-button-borderRadius: 6px;
    --tumbler-size-s-button-width: 12px; /* Ширина button m-tumbler */
    --tumbler-size-s-button-height: 12px; /* Высота button m-tumbler */
    --tumbler-size-s-button-press-width: 14px;
    --tumblerLabel-size-s-indentRight: 8px;
    --tumblerLabel-size-s-indentLeft: 8px;
    --tumbler-size-m-fontSize: var(--typography-controls-size-m-font-size); /* Размер текста m-tumbler */
    --tumbler-size-m-lineHeight: 20px; /* Межстрочный интервал текста у m-tumbler */
    --tumbler-size-m-borderRadius: 10px;
    --tumbler-size-m-width: 40px; /* Ширина m-tumbler */
    --tumbler-size-m-height: 20px; /* Высота m-tumbler */
    --tumbler-size-m-button-borderRadius: 8px;
    --tumbler-size-m-button-width: 16px; /* Ширина button m-tumbler */
    --tumbler-size-m-button-height: 16px; /* Высота button m-tumbler */
    --tumbler-size-m-button-press-width: 18px;
    --tumblerLabel-size-m-indentRight: 12px;
    --tumblerLabel-size-m-indentLeft: 12px;
    --tumbler-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --tumbler-size-l-lineHeight: 24px;
    --tumbler-size-l-borderRadius: 14px;
    --tumbler-size-l-width: 56px;
    --tumbler-size-l-height: 28px;
    --tumbler-size-l-button-borderRadius: 12px;
    --tumbler-size-l-button-width: 24px;
    --tumbler-size-l-button-height: 24px;
    --tumbler-size-l-button-press-width: 26px;
    --tumblerLabel-size-l-indentRight: 16px;
    --tumblerLabel-size-l-indentLeft: 16px;
    --user-pic-size-m-size: 42px;
    --user-pic-size-m-size-plus: 52px;
    --user-pic-size-s-size: 24px;
    --user-pic-size-s-size-plus: 30px;
    --calendar-font-family: var(--typography-font-family);
    --calendar-size-s-min-width: 252px;
    --calendar-size-s-min-height: 252px;
    --calendar-size-s-line-height: var(--text-control-size-s-line-height);
    --calendar-size-s-font-size: var(--text-control-size-s-font-size);
    --calendar-size-s-space-horizontal: 16px;
    --calendar-size-s-header-space-top: 8px;
    --calendar-size-s-header-space-bottom: 8px;
    --calendar-size-s-nav-action-width: 32px;
    --calendar-size-s-nav-action-height: 32px;
    --calendar-size-s-body-space-top: 8px;
    --calendar-size-s-body-space-bottom: 24px;
    --calendar-size-s-aside-min-width: 28px;
    --calendar-size-s-aside-indent-right: 8px;
    --calendar-size-s-cell-width: 36px;
    --calendar-size-s-cell-space: 2px;
    --calendar-size-m-min-width: 308px;
    --calendar-size-m-min-height: 308px;
    --calendar-size-m-line-height: var(--text-control-size-m-line-height);
    --calendar-size-m-font-size: var(--text-control-size-m-font-size);
    --calendar-size-m-space-horizontal: 24px;
    --calendar-size-m-header-space-top: 12px;
    --calendar-size-m-header-space-bottom: 12px;
    --calendar-size-m-nav-action-width: 36px;
    --calendar-size-m-nav-action-height: 36px;
    --calendar-size-m-body-space-top: 12px;
    --calendar-size-m-body-space-bottom: 32px;
    --calendar-size-m-aside-min-width: 32px;
    --calendar-size-m-aside-indent-right: 12px;
    --calendar-size-m-cell-width: 44px;
    --calendar-size-m-cell-space: 4px;
    --calendar-size-l-min-width: 378px;
    --calendar-size-l-min-height: 378px;
    --calendar-size-l-line-height: var(--text-control-size-l-line-height);
    --calendar-size-l-font-size: var(--text-control-size-l-font-size);
    --calendar-size-l-space-horizontal: 32px;
    --calendar-size-l-header-space-top: 16px;
    --calendar-size-l-header-space-bottom: 16px;
    --calendar-size-l-nav-action-width: 42px;
    --calendar-size-l-nav-action-height: 42px;
    --calendar-size-l-body-space-top: 16px;
    --calendar-size-l-body-space-bottom: 40px;
    --calendar-size-l-aside-min-width: 36px;
    --calendar-size-l-aside-indent-right: 16px;
    --calendar-size-l-cell-width: 54px;
    --calendar-size-l-cell-space: 6px;
    --calendar-view-default-aside-border-radius: 8px;
    --calendar-view-default-cell-border-width: 1px;
    --calendar-view-default-cell-border-radius: 100px;
    --calendar-view-brand-aside-border-radius: 8px;
    --calendar-view-brand-cell-border-width: 1px;
    --calendar-view-brand-cell-border-radius: 100px;
    --datetimefield-font-family: var(--typography-font-family);
    --datetimefield-size-s-font-size: var(--typography-controls-size-s-font-size);
    --datetimefield-size-s-line-height: 18px;
    --datetimefield-size-s-height: 32px;
    --datetimefield-size-s-space-horizontal: 8px;
    --datetimefield-size-s-slots-gap: 4px;
    --datetimefield-size-m-font-size: var(--typography-controls-size-m-font-size);
    --datetimefield-size-m-line-height: 20px;
    --datetimefield-size-m-height: 36px;
    --datetimefield-size-m-space-horizontal: 10px;
    --datetimefield-size-m-slots-gap: 6px;
    --datetimefield-view-default-border-width-base: 2px;
    --datetimefield-view-default-border-radius: 4px;
}
