.Theme_root_legacy {
    --space-3-xs: 2px;
    --space-2-xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-2-xl: 32px;
    --space-3-xl: 40px;
    --space-4-xl: 48px;
    --space-5-xl: 72px;
    --space-6-xl: 96px;
    --typography-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-font-weight-light: 300;
    --typography-font-weight-regular: 400;
    --typography-font-weight-medium: 500;
    --typography-font-weight-bold: 700;
    --control-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-controls-size-s-font-size: 13px;
    --typography-controls-size-m-font-size: 15px;
    --typography-controls-size-l-font-size: 18px;
    --attach-font-family: var(--control-font-family);
    --attach-reset-width: 12px;
    --attach-reset-height: 12px;
    --attach-reset-indentLeft: 5px;
    --attach-iconFile-indentRight: 5px;
    --attach-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --attach-size-s-lineHeight: 32px;
    --attach-size-s-holder-indentLeft: 6px;
    --attach-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --attach-size-m-lineHeight: 36px;
    --attach-size-m-holder-indentLeft: 8px;
    --attach-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --attach-size-l-lineHeight: 42px;
    --attach-size-l-holder-indentLeft: 10px;
    --badge-font-family: var(--control-font-family);
    --badge-size-small: 10px;
    --badge-size-large: 16px;
    --badge-font-size: 12px;
    --badge-border-radius: 8px;
    --badge-border-width: 2px;
    --button-font-family: var(--control-font-family);
    --button-border-width: 1px;
    --button-borderRadius: 4px;
    --button-size-s-font: var(--typography-controls-size-s-font-size);
    --button-size-s-lineHeight: 28px;
    --button-size-s-height: 28px;
    --button-size-s-icon-width: 28px;
    --button-size-s-icon-indentLeft: 25px;
    --button-size-s-icon-indentRight: 25px;
    --button-size-s-text-indentAll: 0 13px;
    --button-size-m-font: var(--typography-controls-size-m-font-size);
    --button-size-m-lineHeight: 32px;
    --button-size-m-height: 32px;
    --button-size-m-icon-width: 32px;
    --button-size-m-icon-indentLeft: 29px;
    --button-size-m-icon-indentRight: 29px;
    --button-size-m-text-indentAll: 0 15px;
    --button-size-l-font: var(--typography-controls-size-l-font-size);
    --button-size-l-lineHeight: 38px;
    --button-size-l-height: 38px;
    --button-size-l-icon-width: 38px;
    --button-size-l-icon-indentLeft: 35px;
    --button-size-l-icon-indentRight: 35px;
    --button-size-l-text-indentAll: 0 18px;
    --checkbox-view-outline-disabled-opacity: 0.4;
    --checkbox-font-family: var(--control-font-family);
    --checkbox-borderRadius: 4px;
    --checkbox-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --checkbox-size-s-indentLeft: 5px;
    --checkbox-size-s-width: 14px;
    --checkbox-size-s-height: 14px;
    --checkbox-size-s-tick-width: 12px;
    --checkbox-size-s-tick-height: 8px;
    --checkbox-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --checkbox-size-m-indentLeft: 5px;
    --checkbox-size-m-width: 17px;
    --checkbox-size-m-height: 17px;
    --checkbox-size-m-tick-width: 13px;
    --checkbox-size-m-tick-height: 10px;
    --checkbox-disabled-opacity: 0.6;
    --divider-indent-all: 16px;
    --menu-font-family: var(--control-font-family);
    --menu-group-borderWidth: 1px;
    --menu-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --menu-size-s-lineHeight: 24px;
    --menu-size-s-spaceVert: 4px;
    --menu-size-s-group-spaceVert: 4px;
    --menu-size-s-group-spaceHor: 0;
    --menu-size-s-group-indentBottom: 4px;
    --menu-size-s-item-spaceVert: 3px;
    --menu-size-s-item-spaceHor: 9px;
    --menu-size-s-item-indentBottom: 4px;
    --menu-size-s-item-space-hor: 13px;
    --menu-size-s-item-icon-indentRight: 5px;
    --menu-size-s-titleSibling-indentLeft: 20px;
    --menu-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --menu-size-m-lineHeight: 28px;
    --menu-size-m-spaceVert: 5px;
    --menu-size-m-group-spaceVert: 5px;
    --menu-size-m-group-spaceHor: 0;
    --menu-size-m-group-indentBottom: 5px;
    --menu-size-m-item-spaceVert: 4px;
    --menu-size-m-item-spaceHor: 15px;
    --menu-size-m-item-indentBottom: 5px;
    --menu-size-m-item-icon-indentRight: 5px;
    --menu-size-m-titleSibling-indentLeft: 20px;
    --message-box-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-font-family: var(--control-font-family);
    --message-box-lineHeight: 16px;
    --message-box-hint-borderRadius: 4px;
    --message-box-close-lineHeight: 16px;
    --message-box-close-fontSize: 11px;
    --message-box-close-indentRight: 7px;
    --message-box-close-width: 16px;
    --message-box-close-height: 16px;
    --message-box-text-indentLeft: 20px;
    --message-box-text-indentRight: 20px;
    --message-box-content-spaceAll: 20px;
    --message-box-content-max-width: 180px;
    --message-box-size-s-tail-size: 22px;
    --message-box-size-s-tooltip-fontSize: 11px;
    --message-box-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-s-border-radius: 7px;
    --message-box-size-s-content-maxWidth: 260px;
    --message-box-size-s-content-spaceAll: 5px 10px;
    --message-box-size-s-content-functional-width: 180px;
    --message-box-size-m-tail-size: 22px;
    --message-box-size-m-tooltip-fontSize: 11px;
    --message-box-size-m-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-m-border-radius: 7px;
    --message-box-size-m-content-spaceAll: 10px 14px;
    --message-box-size-m-content-minWidth: 200px;
    --message-box-size-m-content-maxWidth: 280px;
    --message-box-size-m-content-tooltip-maxWidth: 320px;
    --message-box-size-m-content-functional-width: 280px;
    --message-box-size-l-tail-size: 22px;
    --message-box-size-l-functional-fontSize: 14px;
    --message-box-size-l-functional-lineHeight: 18px;
    --message-box-size-l-fontSize: var(--typography-controls-size-s-font-size);
    --message-box-size-l-border-radius: 7px;
    --message-box-size-l-content-spaceAll: 15px 20px;
    --message-box-size-l-content-minWidth: 300px;
    --message-box-size-l-content-maxWidth: 380px;
    --message-box-size-l-content-width: 380px;
    --message-box-size-l-content-functional-width: 380px;
    --message-box-button-indentRight: 0;
    --message-box-buttons-indentAll: 0;
    --message-box-view-default-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-view-promo-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-view-inverse-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --modal-border-radius: 0;
    --popup-borderRadius: 4px;
    --progressbar-height: 2px;
    --progress-border-radius: 0;
    --radio-button-font-family: var(--control-font-family);
    --radioButton-indent: 3px;
    --radioButton-borderRadius: 4px;
    --radioButton-after-borderRadius: 2px;
    --radioButton-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --radioButton-size-s-lineHeight: 28px;
    --radioButton-size-s-space: 0 13px;
    --radioButton-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --radioButton-size-m-lineHeight: 32px;
    --radioButton-size-m-space: 0 15px;
    --radioButton-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --radioButton-size-l-lineHeight: 38px;
    --radioButton-size-l-space: 0 18px;
    --radiobox-font-family: var(--control-font-family);
    --radiobox-view-outline-disabled-opacity: 0.4;
    --radiobox-borderRadius: 50%;
    --radiobox-after-borderRadius: 50%;
    --radiobox-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --radiobox-size-s-lineHeight: 28px;
    --radiobox-size-s-size: 13px;
    --radiobox-size-s-positionTop: 2px;
    --radiobox-size-s-indentRight: 5px;
    --radiobox-size-s-after-size: 5px;
    --radiobox-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --radiobox-size-m-lineHeight: 32px;
    --radiobox-size-m-size: 17px;
    --radiobox-size-m-positionTop: 3px;
    --radiobox-size-m-indentRight: 6px;
    --radiobox-size-m-after-size: 7px;
    --radiobox-disabled-opacity: 0.6;
    --spin-size-xxs: 16px;
    --spin-size-xs: 24px;
    --spin-size-s: 28px;
    --spin-size-m: 32px;
    --spin-size-l: 38px;
    --tabs-menu-font-family: var(--control-font-family);
    --tabsMenu-size-s-font: var(--typography-controls-size-s-font-size);
    --tabsMenu-size-s-lineHeight: 28px;
    --tabsMenu-size-m-font: var(--typography-controls-size-m-font-size);
    --tabsMenu-size-m-lineHeight: 36px;
    --text-display-size-xl-font-size: 3.5rem;
    --text-display-size-xl-line-height: 4rem;
    --text-display-size-xl-letter-spacing: normal;
    --text-display-size-xl-font-family: var(--typography-font-family);
    --text-display-size-l-font-size: 3rem;
    --text-display-size-l-line-height: 3.5rem;
    --text-display-size-l-letter-spacing: 0.0065em;
    --text-display-size-l-font-family: var(--typography-font-family);
    --text-display-size-m-font-size: 2.5rem;
    --text-display-size-m-line-height: 3rem;
    --text-display-size-m-letter-spacing: 0.0065em;
    --text-display-size-m-font-family: var(--typography-font-family);
    --text-display-size-s-font-size: 2.125rem;
    --text-display-size-s-line-height: 2.5rem;
    --text-display-size-s-letter-spacing: 0.0065em;
    --text-display-size-s-font-family: var(--typography-font-family);
    --text-headline-size-xl-font-size: 2rem;
    --text-headline-size-xl-line-height: 2.5rem;
    --text-headline-size-xl-letter-spacing: 0.0065em;
    --text-headline-size-xl-font-family: var(--typography-font-family);
    --text-headline-size-l-font-size: 1.75rem;
    --text-headline-size-l-line-height: 2.25rem;
    --text-headline-size-l-letter-spacing: 0.0065em;
    --text-headline-size-l-font-family: var(--typography-font-family);
    --text-headline-size-m-font-size: 1.5rem;
    --text-headline-size-m-line-height: 1.875rem;
    --text-headline-size-m-letter-spacing: 0.0065em;
    --text-headline-size-m-font-family: var(--typography-font-family);
    --text-headline-size-s-font-size: 1.25rem;
    --text-headline-size-s-line-height: 1.5rem;
    --text-headline-size-s-letter-spacing: 0.0065em;
    --text-headline-size-s-font-family: var(--typography-font-family);
    --text-headline-size-xs-font-size: 1.125rem;
    --text-headline-size-xs-line-height: 1.5rem;
    --text-headline-size-xs-letter-spacing: 0.0065em;
    --text-headline-size-xs-font-family: var(--typography-font-family);
    --text-subheader-size-xl-font-size: 1rem;
    --text-subheader-size-xl-line-height: 1.25rem;
    --text-subheader-size-xl-letter-spacing: 0.0065em;
    --text-subheader-size-xl-font-family: var(--typography-font-family);
    --text-subheader-size-l-font-size: 0.9375rem;
    --text-subheader-size-l-line-height: 1.125rem;
    --text-subheader-size-l-letter-spacing: 0.0065em;
    --text-subheader-size-l-font-family: var(--typography-font-family);
    --text-subheader-size-m-font-size: 0.875rem;
    --text-subheader-size-m-line-height: 1.125rem;
    --text-subheader-size-m-letter-spacing: 0.0065em;
    --text-subheader-size-m-font-family: var(--typography-font-family);
    --text-subheader-size-s-font-size: 0.8125rem;
    --text-subheader-size-s-line-height: 1.125rem;
    --text-subheader-size-s-letter-spacing: 0.0065em;
    --text-subheader-size-s-font-family: var(--typography-font-family);
    --text-body-long-size-xl-font-size: 1rem;
    --text-body-long-size-xl-line-height: 1.5rem;
    --text-body-long-size-xl-letter-spacing: 0.0065em;
    --text-body-long-size-xl-font-family: var(--typography-font-family);
    --text-body-long-size-l-font-size: 0.9375rem;
    --text-body-long-size-l-line-height: 1.25rem;
    --text-body-long-size-l-letter-spacing: 0.0065em;
    --text-body-long-size-l-font-family: var(--typography-font-family);
    --text-body-long-size-m-font-size: 0.875rem;
    --text-body-long-size-m-line-height: 1.25rem;
    --text-body-long-size-m-letter-spacing: 0.0065em;
    --text-body-long-size-m-font-family: var(--typography-font-family);
    --text-body-long-size-s-font-size: 0.8125rem;
    --text-body-long-size-s-line-height: 1.125rem;
    --text-body-long-size-s-letter-spacing: 0.0065em;
    --text-body-long-size-s-font-family: var(--typography-font-family);
    --text-body-short-size-xl-font-size: 1rem;
    --text-body-short-size-xl-line-height: 1.25rem;
    --text-body-short-size-xl-letter-spacing: 0.0065em;
    --text-body-short-size-xl-font-family: var(--typography-font-family);
    --text-body-short-size-l-font-size: 0.9375rem;
    --text-body-short-size-l-line-height: 1.125rem;
    --text-body-short-size-l-letter-spacing: 0.0065em;
    --text-body-short-size-l-font-family: var(--typography-font-family);
    --text-body-short-size-m-font-size: 0.875rem;
    --text-body-short-size-m-line-height: 1.125rem;
    --text-body-short-size-m-letter-spacing: 0.0065em;
    --text-body-short-size-m-font-family: var(--typography-font-family);
    --text-body-short-size-s-font-size: 0.8125rem;
    --text-body-short-size-s-line-height: 1rem;
    --text-body-short-size-s-letter-spacing: 0.0065em;
    --text-body-short-size-s-font-family: var(--typography-font-family);
    --text-caption-size-xl-font-size: 0.8125rem;
    --text-caption-size-xl-line-height: 1rem;
    --text-caption-size-xl-letter-spacing: 0.0065em;
    --text-caption-size-xl-font-family: var(--typography-font-family);
    --text-caption-size-l-font-size: 0.75rem;
    --text-caption-size-l-line-height: 1rem;
    --text-caption-size-l-letter-spacing: 0.0065em;
    --text-caption-size-l-font-family: var(--typography-font-family);
    --text-caption-size-m-font-size: 0.6875rem;
    --text-caption-size-m-line-height: 1rem;
    --text-caption-size-m-letter-spacing: 0.0065em;
    --text-caption-size-m-font-family: var(--typography-font-family);
    --text-overline-size-l-font-size: 0.75rem;
    --text-overline-size-l-line-height: 0.875rem;
    --text-overline-size-l-letter-spacing: 0.0065em;
    --text-overline-size-l-font-family: var(--typography-font-family);
    --text-overline-size-m-font-size: 0.6875rem;
    --text-overline-size-m-line-height: 0.875rem;
    --text-overline-size-m-letter-spacing: 0.0065em;
    --text-overline-size-m-font-family: var(--typography-font-family);
    --text-overline-size-s-font-size: 0.625rem;
    --text-overline-size-s-line-height: 0.75rem;
    --text-overline-size-s-letter-spacing: 0.0065em;
    --text-overline-size-s-font-family: var(--typography-font-family);
    --text-control-size-xxl-font-size: 1.125rem;
    --text-control-size-xxl-line-height: 1.5rem;
    --text-control-size-xxl-letter-spacing: 0.0065em;
    --text-control-size-xxl-font-family: var(--typography-font-family);
    --text-control-size-xl-font-size: 1rem;
    --text-control-size-xl-line-height: 1.25rem;
    --text-control-size-xl-letter-spacing: 0.0065em;
    --text-control-size-xl-font-family: var(--typography-font-family);
    --text-control-size-l-font-size: 0.9375rem;
    --text-control-size-l-line-height: 1.25rem;
    --text-control-size-l-letter-spacing: 0.0065em;
    --text-control-size-l-font-family: var(--typography-font-family);
    --text-control-size-m-font-size: 0.875rem;
    --text-control-size-m-line-height: 1rem;
    --text-control-size-m-letter-spacing: 0.0065em;
    --text-control-size-m-font-family: var(--typography-font-family);
    --text-control-size-s-font-size: 0.8125rem;
    --text-control-size-s-line-height: 1rem;
    --text-control-size-s-letter-spacing: 0.0065em;
    --text-control-size-s-font-family: var(--typography-font-family);
    --text-control-size-xs-font-size: 0.75rem;
    --text-control-size-xs-line-height: 1rem;
    --text-control-size-xs-letter-spacing: 0.0065em;
    --text-control-size-xs-font-family: var(--typography-font-family);
    --text-control-size-xxs-font-size: 0.6875rem;
    --text-control-size-xxs-line-height: 1rem;
    --text-control-size-xxs-letter-spacing: 0.0065em;
    --text-control-size-xxs-font-family: var(--typography-font-family);
    --textarea-font-family: var(--control-font-family);
    --textarea-borderWidth: 2px;
    --textarea-borderRadius: 4px;
    --textarea-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --textarea-size-s-spaceAll: 6px;
    --textarea-size-s-minWidth: 180px;
    --textarea-size-s-minHeight: 28px;
    --textarea-size-s-clear-width: 28px;
    --textarea-size-s-clear-height: 28px;
    --textarea-hint-size-s-fontSize: 12px;
    --textarea-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --textarea-size-m-spaceAll: 8px;
    --textarea-size-m-minWidth: 200px;
    --textarea-size-m-minHeight: 32px;
    --textarea-size-m-clear-width: 32px;
    --textarea-size-m-clear-height: 32px;
    --textarea-hint-size-m-fontSize: 13px;
    --textinput-font-family: var(--control-font-family);
    --textinput-borderWidth: 2px;
    --textinput-borderRadius: 4px;
    --textinput-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --textinput-size-s-height: 28px;
    --textinput-size-s-control-spaceAll: 0 8px;
    --textinput-size-s-has-icon-spaceRight: 22px;
    --textinput-size-s-has-icon-spaceLeft: 22px;
    --textinput-size-s-icon-width: 28px;
    --textinput-size-s-icon-height: 28px;
    --textinput-hint-size-s-fontSize: 12px;
    --textinput-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --textinput-size-m-height: 32px;
    --textinput-size-m-control-spaceAll: 0 10px;
    --textinput-size-m-has-icon-spaceRight: 24px;
    --textinput-size-m-has-icon-spaceLeft: 24px;
    --textinput-size-m-icon-width: 32px;
    --textinput-size-m-icon-height: 32px;
    --textinput-hint-size-m-fontSize: 13px;
    --textinput-view-material-font-size: 1rem;
    --textinput-view-material-space-all: 12px 0 10px;
    --textinput-view-material-space-left: 16px;
    --textinput-view-material-space-right: 16px;
    --textinput-view-material-space-top: 16px;
    --textinput-view-material-icon-width: 24px;
    --textinput-view-material-icon-height: 24px;
    --textinput-view-material-hint-font-size: 0.75rem;
    --tooltip-font-family: var(--control-font-family);
    --tooltip-borderRadius: 4px;
    --tooltip-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --tooltip-size-s-lineHeight: 12px;
    --tooltip-size-s-content-spaceAll: 8px;
    --tooltip-size-s-tail-size: 12px;
    --tooltip-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --tooltip-size-m-lineHeight: 14px;
    --tooltip-size-m-content-spaceAll: 9px 10px;
    --tooltip-size-m-tail-size: 12px;
    --tooltip-size-l-fontSize: 16px;
    --tooltip-size-l-lineHeight: 16px;
    --tooltip-size-l-content-spaceAll: 18px;
    --tooltip-size-l-tail-size: 18px;
    --tooltip-view-default-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    --tumbler-font-family: var(--control-font-family);
    --tumbler-button-space: 2px;
    --tumbler-button-opacity-disabled: 1;
    --tumbler-size-s-fontSize: var(--typography-controls-size-s-font-size);
    --tumbler-size-s-lineHeight: 16px;
    --tumbler-size-s-borderRadius: 8px;
    --tumbler-size-s-width: 32px;
    --tumbler-size-s-height: 16px;
    --tumbler-size-s-button-borderRadius: 6px;
    --tumbler-size-s-button-width: 12px;
    --tumbler-size-s-button-height: 12px;
    --tumbler-size-s-button-press-width: 14px;
    --tumblerLabel-size-s-indentRight: 8px;
    --tumblerLabel-size-s-indentLeft: 8px;
    --tumbler-size-m-fontSize: var(--typography-controls-size-m-font-size);
    --tumbler-size-m-lineHeight: 20px;
    --tumbler-size-m-borderRadius: 10px;
    --tumbler-size-m-width: 40px;
    --tumbler-size-m-height: 20px;
    --tumbler-size-m-button-borderRadius: 8px;
    --tumbler-size-m-button-width: 16px;
    --tumbler-size-m-button-height: 16px;
    --tumbler-size-m-button-press-width: 18px;
    --tumblerLabel-size-m-indentRight: 12px;
    --tumblerLabel-size-m-indentLeft: 12px;
    --tumbler-size-l-fontSize: var(--typography-controls-size-l-font-size);
    --tumbler-size-l-lineHeight: 24px;
    --tumbler-size-l-borderRadius: 14px;
    --tumbler-size-l-width: 56px;
    --tumbler-size-l-height: 28px;
    --tumbler-size-l-button-borderRadius: 12px;
    --tumbler-size-l-button-width: 24px;
    --tumbler-size-l-button-height: 24px;
    --tumbler-size-l-button-press-width: 26px;
    --tumblerLabel-size-l-indentRight: 16px;
    --tumblerLabel-size-l-indentLeft: 16px;
}
