/**
 * 1. Селектор удваивается, чтобы заменить html.utilityfocus
 */

@media all and (min-width: 0) {
    .Radiobox_theme_normal .Radiobox-Label,
    .Radiobox_theme_normal .Radiobox-Box::after {
        transition: opacity .1s ease-out;
    }

    .Radiobox_theme_normal .Radiobox-Box::before {
        transition: .1s ease-out;
        transition-property: border-color, border-width, background-color;
    }

    /* _hovered */
    .Radiobox_theme_normal .Radiobox-Radio_hovered .Radiobox-Box::before {
        border-color: rgba(0, 0, 0, .3);
    }

    .Radiobox_theme_normal .Radiobox-Radio_hovered.Radiobox-Radio_checked .Radiobox-Box::before {
        border-color: rgba(129, 103, 0, .6);
    }

    /* focused */
    .utilityfocus.utilityfocus .Radiobox_theme_normal .Radiobox-Radio_focused .Radiobox-Box::before {
        /* 1 */
        border-width: 2px;
        border-color: #ffdb4d;
    }
}
