/* hover */
.Button2_view_link:not([aria-disabled='true']):hover::before {
    background-color: var(--button-view-link-fill-color-hovered);
}

/* check */
.Button2_view_link.Button2_checked:not([aria-disabled='true']):hover::before {
    background-color: var(--button-view-link-fill-color-checked-hovered);
}

/* focus */
.utilityfocus .Button2_view_link:focus::before {
    border: 2px solid var(--button-view-link-border-color-focused);
}
