.MessageBox_view_inverse,
.MessageBox_view_inverse .MessageBox-Close,
.MessageBox_view_inverse .Button2_view_clear {
    color: var(--color-typo-primary);
}

.MessageBox_view_inverse .MessageBox-Tail {
    color: var(--color-bg-default);
}

.MessageBox_view_inverse .MessageBox-Close::after,
.MessageBox_view_inverse .MessageBox-Backdrop::before {
    background-color: var(--color-bg-default);
}

.MessageBox_view_inverse:not(.MessageBox_opaque) .MessageBox-Backdrop,
.MessageBox_view_inverse:not(.MessageBox_opaque) .MessageBox-Close:hover::after {
    opacity: .85;
}
