/**
 * 1. Если перед Checkbox_size_m поставить вплотную текст определенной длины,
 * inline-svg внутри сдвигается (вероятно, из-за нечетных величин длины/ширины).
 * Точно так же такие сдвиги могут происходить из-за margin у элементов сверху (Chrome).
 * Поэтому процентный отступ переопределяется на величину в px.
 * 2. Из-за четных величин viewBox, которые актуальны для размеров s и n, в нечетном m
 * нужен небольшой отступ для выравнивания.
 */

/* common */
.Checkbox_view_default {
    color: var(--color-control-typo-primary);
}

.Checkbox_view_default .Checkbox-Box {
    text-align: left;
}

.Checkbox_view_default .Checkbox-Box::before {
    border-radius: var(--checkbox-borderRadius);
    background-color: var(--color-control-bg-default);

    transition: background-color .1s linear;
}

.Checkbox_view_default .Checkbox-Tick {
    color: transparent;

    transition: color .1s, transform .2s;
    transform: translateY(-5px);
}

.Checkbox_view_default .Checkbox-Tick,
.Checkbox_view_default .Checkbox-Tick .Icon {
    width: 100%;
    height: 100%;
}

.Checkbox_view_default.Checkbox_size_m .Checkbox-Tick svg {
    top: 9px; /* 1 */
    left: 9px; /* 1 */

    width: 11px;
    height: 10px;
    padding-right: 1px; /* 2 */
    padding-bottom: 1px; /* 2 */
}

.Checkbox_view_default.Checkbox_size_s .Checkbox-Tick svg {
    width: 10px;
    height: 8px;
}

.Checkbox_view_default.Checkbox_indeterminate .Checkbox-Tick svg {
    width: 17px;
    height: 17px;
}

/* check */
/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Checkbox_view_default.Checkbox_checked .Checkbox-Box[class]::before {
    background-color: var(--color-control-bg-check);
}

.Checkbox_view_default.Checkbox_checked .Checkbox-Tick {
    color: var(--color-control-bg-faint);

    transform: translateY(0);
}

/* disable */
.Checkbox_view_default.Checkbox_disabled {
    opacity: .6;
}
