/* hover */
.Tumbler_view_default .Tumbler-Button:hover {
    background-color: var(--color-control-bg-default-hover);
}

/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Tumbler_view_default[class] .Tumbler-Button[aria-pressed='true']:hover {
    background-color: var(--color-control-bg-action-hover);
}

/* focus */
.utilityfocus .Tumbler_view_default .Tumbler-Button:focus {
    box-shadow: 0 0 0 2px var(--color-control-bg-border-prism);
}
