.Theme_color_yandex-inverse {
    --color-base: #fff;
    --color-essential: #211f1f;
    --color-project: #fc0;
    --color-phantom: #fff;
    --color-path: #207adb;
    --color-success: #00985f;
    --color-alert: #ff5454;
    --color-warning: #f90;
    --color-normal: #dde3e5;
    --color-system: #778a9b;
    --color-promo: #fc0;
    --color-bg-brand: #fc0;
    --color-bg-inverse: #fff;
    --color-bg-action: rgb(255, 219, 77);
    --color-bg-selection: rgb(255, 234, 158);
    --color-bg-hover: rgba(255, 255, 255, 0.15);
    --color-bg-border: rgba(255, 255, 255, 0.05);
    --color-bg-stripe: rgba(255, 255, 255, 0.04);
    --color-bg-ghost: rgba(255, 255, 255, 0.08);
    --color-bg-default: #211f1f;
    --color-bg-tone: rgba(255, 255, 255, 0.9);
    --color-bg-soft: rgba(33, 31, 31, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #ff5454;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(102, 172, 219, 0.4);
    --color-bg-promo: #fc0;
    --color-typo-brand: #fc0;
    --color-typo-primary: #fff;
    --color-typo-inverse: #211f1f;
    --color-typo-promo: rgba(255, 255, 255, 0.8);
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-typo-disable: rgba(255, 255, 255, 0.3);
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: rgb(255, 102, 102);
    --color-link: #207adb;
    --color-link-external: #207adb;
    --color-link-minor: rgb(158, 158, 158);
    --color-link-hover: rgb(27, 104, 187);
    --color-control-bg-border-focus: rgb(118, 111, 111);
    --color-control-bg-border-prism: #fc0;
    --color-control-typo-primary: #fff;
    --color-control-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-control-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-control-typo-passive: #211f1f;
    --color-control-typo-faint: #211f1f;
    --color-control-typo-disable: rgba(255, 255, 255, 0.6);
    --color-control-typo-link: #207adb;
    --color-control-typo-error: rgb(255, 102, 102);
    --color-control-bg-default: rgb(68, 64, 64);
    --color-control-bg-default-hover: rgb(102, 96, 96);
    --color-control-bg-default-press: rgb(102, 96, 96);
    --color-control-bg-default-disable: rgb(47, 45, 45);
    --color-control-bg-border-default: rgb(128, 128, 128);
    --color-control-bg-border-default-hover: rgb(166, 166, 166);
    --color-control-bg-border-default-press: rgb(179, 179, 179);
    --color-control-bg-border-default-disable: rgb(26, 26, 26);
    --color-control-bg-border-default-error: #ff5454;
    --color-control-bg-border-default-error-hover: rgb(248, 129, 129);
    --color-control-bg-pseudo: #211f1f;
    --color-control-bg-pseudo-hover: rgb(102, 96, 96);
    --color-control-bg-border-pseudo: rgb(92, 87, 87);
    --color-control-bg-action: #fc0;
    --color-control-bg-action-hover: rgb(250, 192, 0);
    --color-control-bg-action-press: rgb(250, 192, 0);
    --color-control-bg-passive: #211f1f;
    --color-control-bg-progress: #fc0;
    --color-control-bg-progress-process: rgb(255, 213, 0);
    --color-control-bg-blank: rgb(68, 64, 64);
    --color-control-bg-blank-hover: rgb(71, 67, 67);
    --color-control-bg-blank-disable: rgb(108, 101, 101);
    --color-control-bg-border-blank: rgba(255, 255, 255, 0.1);
    --color-control-bg-border-blank-hover: rgba(255, 255, 255, 0.15);
    --color-control-bg-border-blank-disable: rgba(33, 31, 31, 0);
    --color-control-bg-faint: #211f1f;
    --color-control-bg-faint-disable: rgb(201, 197, 197);
    --color-control-bg-check: #fc0;
    --color-control-bg-check-hover: #fc0;
    --color-control-bg-check-press: #fc0;
    --color-control-bg-check-disable: #fc0;
    --color-control-bg-border-check: rgb(168, 135, 0);
    --color-control-bg-border-check-hover: rgb(168, 135, 0);
    --color-control-bg-border-check-press: rgb(168, 135, 0);
    --color-control-bg-link-default: #207adb;
    --color-control-bg-link-default-hover: rgba(32, 122, 219, 0.2);
    --color-control-bg-border-link-default: #207adb;
    --color-control-bg-border-link-default-hover: #207adb;
    --color-control-typo-raised: #fff;
    --color-control-typo-raised-disable: #899094;
    --color-control-bg-raised: #29363c;
    --color-control-bg-raised-hover: #364248;
    --color-control-bg-raised-disable: #303f46;
    --color-control-bg-raised-check: #29363c;
    --badge-border-color: #211f1f;
    --badge-fill-color: #ff5454;
    --badge-typo-color: #211f1f;
    --divider-fill-color: #fc0;
    --progress-fill-color: transparent;
}
