/**
 * Без important стили класса перебиваются inline-стилями
 */
.Popup2 {
    position: absolute;
}

.Popup2_outside {
    top: -10000px !important;
    left: -10000px !important;

    display: block !important;
}

.Popup2.Popup2_visible {
    z-index: 1;
}
