.Icon_glyph_x-sign.Icon_size_xs,
.Icon_glyph_x-sign.Icon_size_xs svg {
    width: 16px;
    height: 16px;
}

.Icon_glyph_x-sign.Icon_size_s,
.Icon_glyph_x-sign.Icon_size_s svg {
    width: 20px;
    height: 20px;
}

.Icon_glyph_x-sign.Icon_size_m,
.Icon_glyph_x-sign.Icon_size_m svg {
    width: 24px;
    height: 24px;
}
