/* hover */
/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Radiobox_view_default .Radiobox-Radio_hovered .Radiobox-Box[class] {
    background-color: var(--color-control-bg-default-hover);
}

/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Radiobox_view_default .Radiobox-Radio_hovered.Radiobox-Radio_checked .Radiobox-Box[class] {
    background-color: var(--color-control-bg-check-hover);
}

/* focus */
.utilityfocus .Radiobox_view_default .Radiobox-Radio_focused .Radiobox-Box {
    box-shadow: 0 0 0 2px var(--color-control-bg-border-prism);
}
