.Textarea-Control {
    position: relative;
    z-index: 2; /* рисуем поверх __box, чтобы сверху класть иконки */

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: inherit;
    margin: 0;

    font-family: var(--control-font-family);
    font-size: 100%;
    resize: none;
    vertical-align: top;

    border: 2px solid transparent;
    outline: 0;
    background: none;
}

.Textarea_disabled .Textarea-Control {
    z-index: 3;

    cursor: default;
    user-select: none;
}

/* Лишние отступы у текста */
/* stylelint-disable no-descending-specificity */
.Textarea-Control::-webkit-search-decoration {
    appearance: none;
}

/* Нативный крестик */
.Textarea-Control::-webkit-search-cancel-button {
    display: none;
}

.Textarea-Control::-ms-clear {
    display: none;
}

/* Сбрасываем желтый background у инпутов при автозаполнении */
.Textarea-Control:-webkit-autofill {
    border-top-width: 2px;
    border-bottom-width: 2px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

.Textarea-Control::placeholder {
    opacity: 1; /* В firefox полупрозрачный по умолчанию */
}
