.Menu {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;

    font-family: var(--menu-font-family);
    user-select: none;

    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Menu-Item {
    white-space: nowrap;
}

.Menu_disabled,
.Menu-Item_disabled {
    cursor: default;
    pointer-events: none;
}

/**
 * FF игнорирует padding-bottom у контейнеров с overfolow:auto,
 * поэтому поля у меню реализуются с помощью псевдо-элементов.
 * Подробнее: https://bugzilla.mozilla.org/show_bug.cgi?id=748518
 */
.Menu::before,
.Menu::after {
    display: block;

    content: '';
}
