.MessageBox-Tail {
    position: absolute;

    width: var(--message-box-tail-width);
    height: var(--message-box-tail-height);
}

.MessageBox-Tail svg {
    display: block;
}

.Popup2_direction_top-left .MessageBox-Tail,
.Popup2_direction_top-center .MessageBox-Tail,
.Popup2_direction_top-right .MessageBox-Tail {
    transform: rotate(180deg) translateY(-12px);
}

.Popup2_direction_left-top .MessageBox-Tail,
.Popup2_direction_left-center .MessageBox-Tail,
.Popup2_direction_left-bottom .MessageBox-Tail {
    transform: rotate(90deg) translateY(-6px) translateX(6px);
}

.Popup2_direction_right-top .MessageBox-Tail,
.Popup2_direction_right-center .MessageBox-Tail,
.Popup2_direction_right-bottom .MessageBox-Tail {
    transform: rotate(-90deg) translateY(-6px) translateX(-6px);
}
