.Spin2_size_xs {
    width: var(--spin-size-xs);
    height: var(--spin-size-xs);

    font-size: 13px;
    line-height: 20px;
}

.Spin2_size_xs.Spin2_position_center {
    /* Отступ равен половине ширины */
    margin-top: calc(var(--spin-size-xs) / -2);
    margin-left: calc(var(--spin-size-xs) / -2);
}
