/* Усиливаем селектор для сохранения специфичности при раскрытии css-переменных. */
.Textinput.Textinput_pin_round-clear[class][class] .Textinput-Box {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
