.Textinput-Control {
    position: relative;
    z-index: 2; /* рисуем поверх __box, чтобы сверху класть иконки */

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: var(--textinput-font-family);
    font-size: 100%;
    vertical-align: top;

    border: 0 solid transparent;
    outline: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Textinput_disabled .Textinput-Control {
    z-index: 3;

    cursor: default;
    user-select: none;
}

/* Лишние отступы у текста */
/* stylelint-disable no-descending-specificity */
.Textinput-Control::-webkit-search-decoration {
    appearance: none;
}

/* Нативный крестик */
.Textinput-Control::-webkit-search-cancel-button {
    display: none;
}

.Textinput-Control::-ms-clear {
    display: none;
}

/* Сбрасываем желтый background у инпутов при автозаполнении */
/* Усиление, чтобы перебить стили border у _size_ */
.Textinput-Control.Textinput-Control:-webkit-autofill {
    border-top-width: 2px;
    border-bottom-width: 2px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

.Textinput-Control::placeholder {
    opacity: 1; /* В firefox полупрозрачный по умолчанию */
}
