.ListTile {
    display: flex;
    align-items: baseline;
}

.ListTile_inline {
    display: inline-flex;
}

.ListTile-Wrapper {
    flex: auto;
}

.ListTile_alignItems_start {
    align-items: flex-start;
}

.ListTile_alignItems_end {
    align-items: flex-end;
}

.ListTile_alignItems_center {
    align-items: center;
}

.ListTile_alignItems_baseline {
    align-items: baseline;
}

.ListTile_alignItems_stretch {
    align-items: stretch;
}

.ListTile-Wrapper_leftSpace_3xs {
    padding-left: var(--space-3-xs);
}

.ListTile-Wrapper_leftSpace_2xs {
    padding-left: var(--space-2-xs);
}

.ListTile-Wrapper_leftSpace_xs {
    padding-left: var(--space-xs);
}

.ListTile-Wrapper_leftSpace_s {
    padding-left: var(--space-s);
}

.ListTile-Wrapper_leftSpace_m {
    padding-left: var(--space-m);
}

.ListTile-Wrapper_leftSpace_l {
    padding-left: var(--space-l);
}

.ListTile-Wrapper_leftSpace_xl {
    padding-left: var(--space-xl);
}

.ListTile-Wrapper_leftSpace_2xl {
    padding-left: var(--space-2-xl);
}

.ListTile-Wrapper_leftSpace_3xl {
    padding-left: var(--space-3-xl);
}

.ListTile-Wrapper_leftSpace_4xl {
    padding-left: var(--space-4-xl);
}

.ListTile-Wrapper_leftSpace_5xl {
    padding-left: var(--space-5-xl);
}

.ListTile-Wrapper_leftSpace_6xl {
    padding-left: var(--space-6-xl);
}

.ListTile-Wrapper_rightSpace_3xs {
    padding-right: var(--space-3-xs);
}

.ListTile-Wrapper_rightSpace_2xs {
    padding-right: var(--space-2-xs);
}

.ListTile-Wrapper_rightSpace_xs {
    padding-right: var(--space-xs);
}

.ListTile-Wrapper_rightSpace_s {
    padding-right: var(--space-s);
}

.ListTile-Wrapper_rightSpace_m {
    padding-right: var(--space-m);
}

.ListTile-Wrapper_rightSpace_l {
    padding-right: var(--space-l);
}

.ListTile-Wrapper_rightSpace_xl {
    padding-right: var(--space-xl);
}

.ListTile-Wrapper_rightSpace_2xl {
    padding-right: var(--space-2-xl);
}

.ListTile-Wrapper_rightSpace_3xl {
    padding-right: var(--space-3-xl);
}

.ListTile-Wrapper_rightSpace_4xl {
    padding-right: var(--space-4-xl);
}

.ListTile-Wrapper_rightSpace_5xl {
    padding-right: var(--space-5-xl);
}

.ListTile-Wrapper_rightSpace_6xl {
    padding-right: var(--space-6-xl);
}
