.Checkbox-Control {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    opacity: 0;
    border: none;
    outline: none;
    background: none;
}
