.Calendar-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Calendar-HeaderInner {
    display: flex;
}

.Calendar-HeaderTitle {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    font-family: inherit;
    font-size: inherit;

    border: 0;
    outline: 0;
    background: 0;
}

.Calendar-HeaderTitle + .Calendar-HeaderTitle {
    margin-left: 12px;
}

.Calendar-HeaderTitle svg {
    margin-left: 4px;
}

.Calendar-HeaderButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 32px;
    padding: 0;

    cursor: pointer;

    opacity: 0.65;
    border: 0;
    outline: 0;
    background: 0;
}
