.MessageBox-Buttons {
    display: flex;
    justify-content: flex-end;

    margin: var(--message-box-buttons-indentAll);
}

.MessageBox-Buttons .Button2:last-child::before {
    border-radius: calc(var(--message-box-borderRadius) - 1px) 0;
}

.MessageBox-Buttons .Button2 {
    margin-right: var(--message-box-button-indentRight);
}

.MessageBox-Buttons .Button2:last-child {
    margin-right: 0;
}

.MessageBox-Buttons .Button2:active {
    /* Cause buttons should no scale inside. */
    transform: scale(1);
}
