/* hover */
/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Textarea_view_default.Textarea_hovered .Textarea-Box[class] {
    border-color: var(--textarea-view-default-border-color-hovered);
    background-color: var(--textarea-view-default-fill-color-hovered);
}

.Textarea_view_default .Textarea-Clear.Textarea-Clear:hover {
    color: var(--textarea-view-default-clear-fill-color-hovered);
}

.Textarea_view_default.Textarea_hovered.Textarea_state_error .Textarea-Box {
    border-color: var(--textarea-view-default-border-color-state-error-hovered);
}
