.Theme_color_yandex-brand {
    --color-base: #fff;
    --color-essential: #c62828;
    --color-project: #fff;
    --color-phantom: #fff;
    --color-path: #fff;
    --color-success: #00985f;
    --color-alert: #feb35e;
    --color-warning: #f90;
    --color-normal: #dde3e5;
    --color-system: #778a9b;
    --color-promo: #000;
    --color-bg-brand: #fff;
    --color-bg-inverse: #fff;
    --color-bg-action: rgb(255, 255, 255);
    --color-bg-selection: rgb(255, 255, 255);
    --color-bg-hover: rgba(255, 255, 255, 0.15);
    --color-bg-border: rgba(255, 255, 255, 0.05);
    --color-bg-stripe: rgba(255, 255, 255, 0.04);
    --color-bg-ghost: rgba(255, 255, 255, 0.08);
    --color-bg-default: #c62828;
    --color-bg-tone: rgba(255, 255, 255, 0.9);
    --color-bg-soft: rgba(198, 40, 40, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #feb35e;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(255, 255, 255, 0.4);
    --color-bg-promo: #000;
    --color-typo-brand: #fff;
    --color-typo-primary: #fff;
    --color-typo-inverse: #c62828;
    --color-typo-promo: rgba(255, 255, 255, 0.8);
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-typo-disable: rgba(255, 255, 255, 0.3);
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: rgb(246, 231, 136);
    --color-link: #fff;
    --color-link-external: #fff;
    --color-link-minor: rgb(255, 255, 255);
    --color-link-hover: rgb(237, 237, 237);
    --color-control-bg-border-focus: rgb(224, 0, 34);
    --color-control-bg-border-prism: #fff;
    --color-control-typo-primary: #fff;
    --color-control-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-control-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-control-typo-passive: #c62828;
    --color-control-typo-faint: #c62828;
    --color-control-typo-disable: rgba(255, 255, 255, 0.6);
    --color-control-typo-link: #fff;
    --color-control-typo-error: rgb(246, 231, 136);
    --color-control-bg-default: rgb(157, 32, 32);
    --color-control-bg-default-hover: rgb(148, 30, 30);
    --color-control-bg-default-press: rgb(165, 34, 34);
    --color-control-bg-default-disable: rgb(178, 36, 36);
    --color-control-bg-border-default: rgb(157, 32, 32);
    --color-control-bg-border-default-hover: rgb(166, 166, 166);
    --color-control-bg-border-default-press: rgb(179, 179, 179);
    --color-control-bg-border-default-disable: rgb(128, 128, 128);
    --color-control-bg-border-default-error: #feb35e;
    --color-control-bg-border-default-error-hover: rgb(255, 203, 143);
    --color-control-bg-pseudo: #c62828;
    --color-control-bg-pseudo-hover: rgb(165, 34, 34);
    --color-control-bg-border-pseudo: rgb(148, 30, 30);
    --color-control-bg-action: #fff;
    --color-control-bg-action-hover: rgb(230, 230, 230);
    --color-control-bg-action-press: rgb(230, 230, 230);
    --color-control-bg-passive: #c62828;
    --color-control-bg-progress: #fff;
    --color-control-bg-progress-process: rgb(255, 255, 255);
    --color-control-bg-blank: rgb(157, 32, 32);
    --color-control-bg-blank-hover: rgb(148, 30, 30);
    --color-control-bg-blank-disable: rgb(178, 36, 36);
    --color-control-bg-border-blank: rgb(148, 30, 30);
    --color-control-bg-border-blank-hover: rgb(190, 39, 39);
    --color-control-bg-border-blank-disable: rgb(178, 36, 36);
    --color-control-bg-faint: #c62828;
    --color-control-bg-faint-disable: rgb(236, 162, 162);
    --color-control-bg-check: #fff;
    --color-control-bg-check-hover: #fff;
    --color-control-bg-check-press: #fff;
    --color-control-bg-check-disable: #fff;
    --color-control-bg-border-check: rgb(84, 84, 84);
    --color-control-bg-border-check-hover: rgb(84, 84, 84);
    --color-control-bg-border-check-press: rgb(84, 84, 84);
    --color-control-bg-link-default: #fff;
    --color-control-bg-link-default-hover: rgba(255, 255, 255, 0.2);
    --color-control-bg-border-link-default: #fff;
    --color-control-bg-border-link-default-hover: #fff;
    --color-control-typo-raised: #fff;
    --color-control-typo-raised-disable: #e29393;
    --color-control-bg-raised: #d62b2b;
    --color-control-bg-raised-hover: #d62b2b;
    --color-control-bg-raised-disable: #b22424;
    --color-control-bg-raised-check: #d62b2b;
    --badge-border-color: #c62828;
    --badge-fill-color: #feb35e;
    --badge-typo-color: #c62828;
    --divider-fill-color: #fc0;
    --progress-fill-color: transparent;
}
