.MessageBox-TextLeft {
    margin-right: var(--message-box-text-indentRight);
}

.MessageBox-TextRight {
    margin-left: var(--message-box-text-indentLeft);
}

.MessageBox-TextWrap {
    display: flex;
    align-items: center;
}

.MessageBox-Text {
    position: relative;
}

.MessageBox-TextWrap .MessageBox-Text {
    width: 100%;
}

.MessageBox-TextWrap_align_center {
    text-align: center;
}

.MessageBox-TextWrap_align_left {
    text-align: left;
}

.MessageBox-TextWrap_align_right {
    text-align: right;
}
