.MessageBox.MessageBox_size_s .MessageBox-Content {
    max-width: var(--message-box-size-s-content-maxWidth);
}

.MessageBox_size_s .MessageBox-Tail {
    width: var(--message-box-size-s-tail-size);
    height: var(--message-box-size-s-tail-size);
}

.MessageBox_size_s.MessageBox_layout_tooltip .MessageBox-Content {
    max-width: var(--message-box-size-s-type-text-content-maxWidth);
    padding: var(--message-box-size-s-content-spaceAll);

    font-size: var(--message-box-size-s-tooltip-fontSize);
}

.MessageBox_size_s.MessageBox_layout_plain .MessageBox-Content,
.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    font-size: var(--message-box-size-s-fontSize);
}

.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    width: var(--message-box-size-s-content-functional-width);
}

.MessageBox.MessageBox_size_s .MessageBox-Backdrop::before,
.MessageBox.MessageBox_size_s .MessageBox-Background {
    border-radius: var(--message-box-size-s-border-radius);
}

.MessageBox.MessageBox_size_s .MessageBox-Buttons .Button2:last-child::before {
    border-radius: calc(var(--message-box-size-s-border-radius) - 1px) 0;
}

.MessageBox.MessageBox_size_s .MessageBox-Buttons .Button2_width_max:only-child::before {
    border-radius: 0 0 var(--message-box-size-s-border-radius) var(--message-box-size-s-border-radius);
}
