/* common */
.Link_view_default {
    color: var(--color-link);

    transition: color .15s linear;
}

/* disable */
.Link_view_default[aria-disabled='true'] {
    color: var(--color-typo-disable);
}
