/* common */
.Button2_view_raised {
    color: var(--color-control-typo-raised);

    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
}

.Button2_view_raised::before {
    background-color: var(--color-control-bg-raised);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 0 1px rgba(0, 0, 0, .05), 0 4px 6px 0 rgba(0, 0, 0, .05);

    transition: background-color .15s linear;
}

.Button2_view_default.Button2_checked::before {
    background-color: var(--color-control-bg-check);
}

/* press */
.Button2_view_raised.Button2_pressed,
.Button2_view_raised:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);

    transition: none;
    transform: scale(.96);
}

/* 1.042 ≈ 1/0.96 */
.Button2_view_raised.Button2_pressed::after,
.Button2_view_raised:active::after {
    transform: scale(1.042);
}

.Button2.Button2_view_raised[aria-disabled='true'] {
    color: var(--color-control-typo-raised-disable);
}

.Button2.Button2_view_raised[aria-disabled='true']::before {
    color: var(--color-control-typo-raised-disable);
    background-color: var(--color-control-bg-raised-disable);
}
