/* common */
.Button2_view_link {
    color: var(--color-control-typo-link);

    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
}

.Button2_view_link::before {
    border: var(--button-border-width) solid var(--color-control-bg-border-link-default);
    background-color: var(--color-control-bg-faint);

    transition: background-color .15s linear;
}

/* press */
.Button2_view_link.Button2_pressed,
.Button2_view_link:active {
    transition: none;
    transform: scale(.96);
}

/* 1.042 ≈ 1/0.96 */
.Button2_view_link.Button2_pressed::after,
.Button2_view_link:active::after {
    transform: scale(1.042);
}

/* disable */
.Button2_view_link[aria-disabled='true'] {
    color: var(--color-control-typo-disable);
}

.Button2.Button2_view_link[aria-disabled='true']::before {
    border-color: transparent;
    background-color: var(--color-control-bg-default-disable);
}

/* check */
.Button2_view_link.Button2_checked {
    color: var(--color-control-typo-faint);
}

.Button2.Button2_view_link.Button2_checked::before {
    border-color: transparent;
    background-color: var(--color-control-bg-check);
}
