/* hover */
.Button2_view_pseudo:not([aria-disabled='true']):hover::before {
    background-color: var(--color-control-bg-pseudo-hover);
}

/* check */
.Button2_view_pseudo.Button2_checked:not([aria-disabled='true']):hover::before {
    background-color: var(--color-control-bg-check-hover);
}

/* focus */
.utilityfocus .Button2_view_pseudo:focus::before {
    border: 2px solid var(--color-control-bg-border-prism);
}
