.Sidebar {
    grid-area: sidebar;

    box-sizing: border-box;
    padding: 0 12px;

    background-color: #f7f8f9;
}

.Item {
    margin-top: 24px;
}

.Link {
    display: flex;
    align-items: center;

    height: 32px;
    margin-top: 4px;
    padding: 0 12px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;

    color: #5e6c84;
    border-radius: 4px;
    outline: 0;
}

.Link:hover,
.ActiveLink {
    background-color: rgba(6, 122, 255, .05);
}

.Headline {
    display: flex;
    align-items: center;

    height: 32px;
    padding: 0 12px;

    font-family: -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    color: #172b4d;
}
