/**
 * 1. Нужно, чтобы Label всегда оставался на одной строке с Box.
 */

.Checkbox {
    font-family: var(--control-font-family);
    user-select: none;
    white-space: nowrap; /* 1 */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    touch-action: manipulation;
}
