/**
 * 1. Нужно для попапов в react, где b-page вешается не на body.
 */
body {
    margin: 0;
}

.BPage-Body {
    font-family: Helvetica, Arial, sans-serif;
}

/*
 * 1. https://st.yandex-team.ru/ISLCOMPONENTS-1653
 * Hack for Ya.Bro on iOS 7-8 for force pointer events listening on BODY.
 *
 * 2. https://st.yandex-team.ru/ISL-2147
 * Отключение выделения страницы при касании
 */
.i-ua_platform_ios.BPage-Body {
    cursor: pointer; /* (1) */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* (2) */
}
