.Layout {
    position: relative;

    display: grid;
    grid-template-areas: 'header header' 'sidebar main' 'sidebar footer';
    grid-template-columns: 272px 1fr;
    /* stylelint-disable-next-line */
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

.Main {
    position: relative;

    display: grid;
    grid-area: main;
    grid-template-areas: 'hero hero' 'content nav';
    grid-template-columns: minmax(640px, 960px) 1fr;
    /* stylelint-disable-next-line */
    grid-template-rows: auto 1fr;
}

.Content {
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: max-content;

    max-width: 960px;
    padding: 32px 80px;
    grid-row-gap: 16px;
    /* stylelint-disable-next-line */
    grid-column-gap: 16px;
}

/* stylelint-disable-next-line */
.Content > * {
    grid-column: 1 / span 12;
}

.Sidebar {
    width: 256px;
    padding-right: 16px;

    background: #fff;
}
