/* Усиливаем селектор для сохранения специфичности при раскрытии css-переменных. */
.DateTimeField.DateTimeField_pin_clear-round[class][class] .DateTimeField-Box {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
