.Attach_size_m {
    font-size: var(--attach-size-m-fontSize);
    line-height: var(--attach-size-m-lineHeight);
}

.Attach_size_m .Attach-Holder {
    margin-left: var(--attach-size-m-holder-indentLeft);
}
