/* common */
.Textarea_view_default .Textarea-Box {
    border: var(--textarea-borderWidth) solid var(--color-control-bg-border-blank);
    border-radius: var(--textarea-borderRadius);
    background-color: var(--color-control-bg-blank);

    transition: background-color .15s linear;
}

.Textarea_view_default.Textarea_state_error .Textarea-Box {
    border-color: var(--color-control-bg-border-default-error);
}

.Textarea_view_default .Textarea-Control {
    color: var(--color-control-typo-primary);
}

.Textarea_view_default .Textarea-Control::placeholder {
    color: var(--color-control-typo-ghost);
}

.Textarea_view_default .Textarea-Icon {
    color: var(--color-control-typo-ghost);
}

.Textarea_view_default .Textarea-Clear {
    color: var(--color-control-typo-ghost);

    transition: color .15s linear;
}

.Textarea_view_default.Textarea_size_s .Textarea-Clear svg {
    width: 12px;
    height: 12px;
}

.Textarea_view_default.Textarea_size_m .Textarea-Clear svg {
    width: 14px;
    height: 14px;
}

.Textarea_view_default.Textarea_state_error .Textarea-Hint {
    color: var(--color-control-typo-error);
}

/* disable */
.Textarea_view_default.Textarea_disabled .Textarea-Control {
    color: var(--color-control-typo-disable);
}

.Textarea_view_default.Textarea_disabled .Textarea-Control::placeholder {
    color: var(--color-control-typo-disable);
}

/* TODO: Усиливаем селектор для ie11 (оторвать после https://st.yandex-team.ru/ISL-7989) */
.Textarea_view_default.Textarea_disabled .Textarea-Box {
    border-color: var(--color-control-bg-border-blank-disable);
    background-color: var(--color-control-bg-blank-disable);
}

/* focus */
.Textarea.Textarea_view_default.Textarea_focused .Textarea-Box[class] {
    border-color: var(--color-control-bg-border-focus);
}
