.MessageBox.MessageBox_size_l .MessageBox-Content {
    min-width: var(--message-box-size-l-content-minWidth);
    max-width: var(--message-box-size-l-content-maxWidth);
    padding: var(--message-box-size-l-content-spaceAll);

    font-size: var(--message-box-size-l-fontSize);
}

.MessageBox.MessageBox_size_l.MessageBox_layout_tooltip,
.MessageBox.MessageBox_size_l.MessageBox_layout_plain {
    width: var(--message-box-size-l-content-width);
}

.MessageBox.MessageBox_size_l.MessageBox_layout_functional .MessageBox-Content {
    width: var(--message-box-size-l-content-functional-width);

    font-size: var(--message-box-size-l-functional-fontSize);
    line-height: var(--message-box-size-l-functional-lineHeight);
}
