.MessageBox.MessageBox_size_s .MessageBox-Content {
    max-width: var(--message-box-size-s-content-maxWidth);
}

.MessageBox_size_s.MessageBox_layout_tooltip .MessageBox-Content {
    max-width: var(--message-box-size-s-type-text-content-maxWidth);
    padding: var(--message-box-size-s-content-spaceAll);

    font-size: var(--message-box-size-s-tooltip-fontSize);
}

.MessageBox_size_s.MessageBox_layout_plain .MessageBox-Content,
.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    font-size: var(--message-box-size-s-fontSize);
}

.MessageBox_size_s.MessageBox_layout_functional .MessageBox-Content {
    width: var(--message-box-size-s-content-functional-width);
}
