.Text_typography_headline-xl {
    font-family: var(--text-headline-size-xl-font-family);
    font-size: var(--text-headline-size-xl-font-size);
    line-height: var(--text-headline-size-xl-line-height);
    letter-spacing: var(--text-headline-size-xl-letter-spacing);
}
