.Text_typography_overline-s {
    font-family: var(--text-overline-size-s-font-family);
    font-size: var(--text-overline-size-s-font-size);
    line-height: var(--text-overline-size-s-line-height);
    letter-spacing: var(--text-overline-size-s-letter-spacing);
    text-transform: uppercase;
}
