.Text_typography_overline-m {
    font-family: var(--text-overline-size-m-font-family);
    font-size: var(--text-overline-size-m-font-size);
    line-height: var(--text-overline-size-m-line-height);
    letter-spacing: var(--text-overline-size-m-letter-spacing);
    text-transform: uppercase;
}
