.YandexHeader-Logoaas {
    display: inline-block;
    overflow: hidden;

    height: var(--header-logo-height);

    outline: none;
}

.YandexHeader-Logoaas .YandexHeader-Image {
    margin: var(--header-logoaas-indent);
}
