.Image-Container {
    position: relative;
}

.Image {
    visibility: hidden; /* Позволяет не показывать битые картинки при ошибках загрузки */

    font: 0/0 a;

    color: #fff;
    border: 0;
}

.Image_loaded {
    visibility: visible;
}

.Image_loading {
    opacity: 0;
}

.Image_animated {
    animation: Image_fade_in .4s ease forwards;
}

@keyframes Image_fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
