.Theme_capacity_turbo-inverse {
    --attach-reset-width: 12px;
    --attach-reset-height: 12px;
    --button-size-s-height: 32px;
    --button-size-s-icon-width: 32px;
    --button-size-m-height: 36px;
    --button-size-m-icon-width: 36px;
    --button-size-l-height: 42px;
    --button-size-l-icon-width: 42px;
    --checkbox-size-s-width: 14px;
    --checkbox-size-s-height: 14px;
    --checkbox-size-m-width: 17px;
    --checkbox-size-m-height: 17px;
    --progressbar-height: 3px;
    --radiobox-size-s-size: 13px;
    --radiobox-size-s-after-size: 5px;
    --radiobox-size-m-size: 17px;
    --radiobox-size-m-after-size: 7px;
    --spin-size-xxs: 16px;
    --spin-size-xs: 24px;
    --spin-size-s: 28px;
    --spin-size-m: 32px;
    --spin-size-l: 38px;
    --textarea-size-s-minWidth: 180px;
    --textarea-size-s-minHeight: 32px;
    --textarea-size-s-clear-width: 32px;
    --textarea-size-s-clear-height: 32px;
    --textarea-size-m-minWidth: 200px;
    --textarea-size-m-minHeight: 36px;
    --textarea-size-m-clear-width: 36px;
    --textarea-size-m-clear-height: 36px;
    --textinput-size-s-height: 32px;
    --textinput-size-s-icon-width: 32px;
    --textinput-size-s-icon-height: 32px;
    --textinput-size-m-height: 36px;
    --textinput-size-m-icon-width: 36px;
    --textinput-size-m-icon-height: 36px;
    --tooltip-size-s-tail-size: 12px;
    --tooltip-size-m-tail-size: 12px;
    --tooltip-size-l-tail-size: 18px;
    --tumbler-size-s-width: 32px;
    --tumbler-size-s-height: 16px;
    --tumbler-size-s-button-width: 12px;
    --tumbler-size-s-button-height: 12px;
    --tumbler-size-s-button-press-width: 14px;
    --tumbler-size-m-width: 40px;
    --tumbler-size-m-height: 20px;
    --tumbler-size-m-button-width: 16px;
    --tumbler-size-m-button-height: 16px;
    --tumbler-size-m-button-press-width: 18px;
    --tumbler-size-l-width: 56px;
    --tumbler-size-l-height: 28px;
    --tumbler-size-l-button-width: 24px;
    --tumbler-size-l-button-height: 24px;
    --tumbler-size-l-button-press-width: 26px;
    --message-box-close-width: 16px;
    --message-box-close-height: 16px;
    --message-box-size-s-content-maxWidth: 180px;
    --message-box-size-s-content-functional-width: 230px;
    --message-box-size-s-type-text-content-maxWidth: 260px;
    --message-box-size-m-content-minWidth: 200px;
    --message-box-size-m-content-maxWidth: 280px;
    --message-box-size-m-content-tooltip-maxWidth: 320px;
    --message-box-size-m-content-functional-width: 350px;
    --message-box-size-l-content-minWidth: 300px;
    --message-box-size-l-content-maxWidth: 380px;
    --message-box-size-l-content-width: 380px;
    --message-box-size-l-content-functional-width: 480px;
    --message-box-tail-width: 22px;
    --message-box-tail-height: 10px;
}
