.Theme_size_turbo-inverse {
    --attach-size-s-fontSize: 13px;
    --attach-size-s-lineHeight: 32px;
    --attach-size-m-fontSize: 15px;
    --attach-size-m-lineHeight: 36px;
    --attach-size-l-fontSize: 18px;
    --attach-size-l-lineHeight: 42px;
    --button-size-s-font: 13px;
    --button-size-s-lineHeight: 32px;
    --button-size-m-font: 15px;
    --button-size-m-lineHeight: 36px;
    --button-size-l-font: 18px;
    --button-size-l-lineHeight: 42px;
    --checkbox-size-s-fontSize: 13px;
    --checkbox-size-m-fontSize: 15px;
    --menu-size-s-fontSize: 13px;
    --menu-size-s-lineHeight: 32px;
    --menu-size-m-fontSize: 15px;
    --menu-size-m-lineHeight: 36px;
    --radioButton-size-s-fontSize: 13px;
    --radioButton-size-s-lineHeight: 28px;
    --radioButton-size-m-fontSize: 15px;
    --radioButton-size-m-lineHeight: 32px;
    --radioButton-size-l-fontSize: 18px;
    --radioButton-size-l-lineHeight: 38px;
    --radiobox-size-s-fontSize: 13px;
    --radiobox-size-s-lineHeight: 28px;
    --radiobox-size-m-fontSize: 15px;
    --radiobox-size-m-lineHeight: 32px;
    --tabsMenu-size-s-font: 13px;
    --tabsMenu-size-s-lineHeight: 28px;
    --tabsMenu-size-m-font: 15px;
    --tabsMenu-size-m-lineHeight: 36px;
    --textarea-size-s-fontSize: 13px;
    --textarea-hint-size-s-fontSize: 12px;
    --textarea-size-m-fontSize: 15px;
    --textarea-hint-size-m-fontSize: 13px;
    --textinput-size-s-fontSize: 13px;
    --textinput-hint-size-s-fontSize: 12px;
    --textinput-size-m-fontSize: 15px;
    --textinput-hint-size-m-fontSize: 13px;
    --tooltip-size-s-fontSize: 13px;
    --tooltip-size-s-lineHeight: 12px;
    --tooltip-size-m-fontSize: 15px;
    --tooltip-size-m-lineHeight: 14px;
    --tooltip-size-l-fontSize: 16px;
    --tooltip-size-l-lineHeight: 16px;
    --tumbler-size-s-fontSize: 13px;
    --tumbler-size-s-lineHeight: 16px;
    --tumbler-size-m-fontSize: 15px;
    --tumbler-size-m-lineHeight: 20px;
    --tumbler-size-l-fontSize: 18px;
    --tumbler-size-l-lineHeight: 24px;
    --message-box-close-fontSize: 11px;
    --message-box-close-lineHeight: 16px;
    --message-box-size-s-fontSize: 13px;
    --message-box-size-s-tooltip-fontSize: 11px;
    --message-box-size-m-fontSize: 13px;
    --message-box-size-m-tooltip-fontSize: 11px;
    --message-box-size-l-fontSize: 13px;
    --message-box-size-l-functional-fontSize: 14px;
    --message-box-size-l-functional-lineHeight: 18px;
    --message-box-fontSize: 13px;
    --message-box-lineHeight: 16px;
}
