.Textinput_theme_normal.Textinput_hovered .Textinput-Box {
    border-color: rgba(0, 0, 0, .3);
}

.Textinput_theme_normal.Textinput_hovered.Textinput_state_error .Textinput-Box {
    border-color: var(--color-control-bg-border-default-state-error-hovered);
}

.Textinput_theme_normal.Textinput_focused {
    border: 0;
}

.Textinput.Textinput_theme_normal.Textinput_focused .Textinput-Box,
.Textinput.Textinput_theme_normal.Textinput_focused.Textinput_hovered .Textinput-Box {
    border: 2px solid #ffdb4d;
}

.Textinput_theme_normal .Textinput-Clear_visible.Textinput-Clear:hover {
    opacity: 1;
}
